openapi: 3.0.3
info:
  title: Upwind Management REST API v1 access-management packages API
  version: '1.0'
  description: Upwind Management REST API — administrative and data endpoints for the Upwind cloud security platform (threats, vulnerabilities, configurations, inventory, API security, workflows, access management). Reconstructed faithfully from the embedded OpenAPI operation definitions published in the Upwind docs (docs.upwind.io) by the API Evangelist enrichment pipeline; operation content is verbatim from the provider.
  contact:
    name: Upwind Support
    email: support@upwind.io
    url: https://docs.upwind.io/
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.upwind.io/restapi/v1/introduction (embedded docusaurus-plugin-openapi-docs operation JSON)
servers:
- url: https://api.upwind.io
  description: Production endpoint (US)
- url: https://api.eu.upwind.io
  description: Production endpoint (EU)
- url: https://api.me.upwind.io
  description: Production endpoint (ME)
security:
- OAuth2ClientCredentials: []
tags:
- name: packages
paths:
  /v1/organizations/{organization-id}/sbom-packages/{package-path}:
    get:
      operationId: getSbomPackageDetails
      summary: Get SBOM package details
      description: A `GET` request sent to the endpoint root followed by package name and version returns detailed information about a specific SBOM package. This endpoint provides comprehensive details about the package including vulnerabilities, affected resources, images, and usage statistics.
      tags:
      - packages
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: The path containing the package name followed by its version (e.g. `lodash/4.17.21`).
        in: path
        name: package-path
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  cloud_account_id:
                    type: string
                    description: The unique identifier for the cloud account associated with this package.
                  cloud_provider:
                    type: string
                    description: The cloud provider associated with this package.
                    enum:
                    - AWS
                    - AZURE
                    - GCP
                    - ORACLE
                    - BYOC
                  framework:
                    type: string
                    description: The framework associated with this package.
                  images:
                    type: array
                    description: List of images containing this package.
                    items:
                      type: object
                      properties:
                        digest:
                          type: string
                          description: The digest of this image.
                        name:
                          type: string
                          description: The name of this image.
                        registry:
                          type: string
                          description: The registry where this image is stored.
                        resource_id:
                          type: string
                          description: The unique identifier for the resource associated with this image.
                        scan_source:
                          type: string
                          description: The source of the image scan.
                        uri:
                          type: string
                          description: The URI of this image.
                        version:
                          type: string
                          description: The version of this image.
                      title: PackageDetailsImage
                  images_summary:
                    description: Summary of images associated with this package.
                    type: object
                    properties:
                      affected_count:
                        type: integer
                        format: int32
                        description: The number of images affected by this package.
                    title: ImagesSummary
                  licenses:
                    type: array
                    description: The licenses associated with this package.
                    items:
                      type: string
                    uniqueItems: true
                  name:
                    type: string
                    description: The name of the package.
                  package_manager:
                    type: string
                    description: The package manager associated with this package.
                  resources:
                    type: array
                    description: List of resources using this package.
                    items:
                      type: object
                      properties:
                        cloud_account_id:
                          type: string
                          description: The unique identifier for the cloud account associated with this resource.
                        cloud_provider:
                          type: string
                          description: The cloud provider of this resource.
                          enum:
                          - AWS
                          - AZURE
                          - GCP
                          - ORACLE
                          - BYOC
                        cluster_id:
                          type: string
                          description: The unique identifier for the cluster associated with this resource.
                        cluster_name:
                          type: string
                          description: The name of the cluster associated with this resource.
                        id:
                          type: string
                          description: The unique identifier for this resource.
                        image_asset_ids:
                          type: array
                          description: List of image asset IDs associated with this resource.
                          items:
                            type: string
                        name:
                          type: string
                          description: The name of this resource.
                        namespace:
                          type: string
                          description: The namespace of this resource.
                        region:
                          type: string
                          description: The region where this resource is located.
                        risk_overview:
                          description: Risk overview for this resource.
                          type: object
                          properties:
                            critical_detections_count:
                              type: integer
                              format: int32
                            critical_vulnerabilities_count:
                              type: integer
                              format: int32
                            has_active_internet_egress:
                              type: boolean
                            has_active_internet_ingress:
                              type: boolean
                            sensitive_data_categories:
                              type: array
                              items:
                                type: string
                              uniqueItems: true
                            sensitive_data_tags:
                              type: array
                              items:
                                type: string
                          title: BlEndpointRiskOverview
                        status:
                          type: string
                          description: The status of this resource.
                          enum:
                          - ACTIVE
                          - INACTIVE
                          - UNKNOWN
                        type:
                          type: string
                          description: The type of this resource.
                          enum:
                          - AwsAutoScalingGroup
                          - AwsInstance
                          - AwsLambdaFunction
                          - AzureVirtualMachineScaleSet
                          - AzureVirtualMachine
                          - AzureFunctionApp
                          - GcpInstanceGroup
                          - GcpInstance
                          - CloudRunServiceContainer
                          - CloudRunServiceFunction
                          - CloudRunJob
                          - Deployment
                          - StatefulSet
                          - DaemonSet
                          - CronJob
                          - ReplicaSet
                          - StandAlone
                          - K8SCluster
                          - GpcGke
                          - AwsEks
                          - AzureAks
                          - K8SNode
                          - ECSService
                          - ECSStandaloneTask
                          - ECSWorkload
                          - ByocHost
                          - Host
                          - HostContainer
                          - Unknown
                        upwind_asset_id:
                          type: string
                          description: The Upwind asset identifier for this resource.
                        vulnerabilities_summary:
                          description: Summary of vulnerabilities found in this resource.
                          type: object
                          properties:
                            critical_count:
                              type: integer
                              format: int32
                              description: The number of critical vulnerabilities.
                            high_count:
                              type: integer
                              format: int32
                              description: The number of high severity vulnerabilities.
                            low_count:
                              type: integer
                              format: int32
                              description: The number of low severity vulnerabilities.
                            medium_count:
                              type: integer
                              format: int32
                              description: The number of medium severity vulnerabilities.
                            total_count:
                              type: integer
                              format: int32
                            unclassified_count:
                              type: integer
                              format: int32
                          title: VulnerabilitiesSummary
                      title: PackageDetailsResource
                  resources_summary:
                    description: Summary of resources associated with this package.
                    type: object
                    properties:
                      in_use_count:
                        type: integer
                        format: int32
                        description: The number of resources currently using this package.
                      total_count:
                        type: integer
                        format: int32
                        description: The total number of resources associated with this package.
                    title: ResourcesSummary
                  version:
                    type: string
                    description: The version of the package.
                  vulnerabilities:
                    type: array
                    description: Detailed list of vulnerabilities found in this package.
                    items:
                      type: object
                      properties:
                        cve_first_seen_time:
                          type: string
                          format: date-time
                          description: The timestamp when this CVE was first seen.
                        cve_id:
                          type: string
                          description: The Common Vulnerabilities and Exposures (CVE) unique identifier for this vulnerability.
                        cvss_v2_score:
                          type: string
                          description: The CVSS v2 score for this vulnerability.
                        cvss_v2_severity:
                          type: string
                          description: The CVSS v2 severity level for this vulnerability.
                        cvss_v3_score:
                          type: string
                          description: The CVSS v3 score for this vulnerability.
                        cvss_v3_severity:
                          type: string
                          description: The CVSS v3 severity level for this vulnerability.
                        cvss_v4_score:
                          type: string
                          description: The CVSS v4 score for this vulnerability.
                        cvss_v4_severity:
                          type: string
                          description: The CVSS v4 severity level for this vulnerability.
                        description:
                          type: string
                          description: The description of this vulnerability.
                        fixed_in_version:
                          type: string
                          description: The version where this vulnerability is fixed.
                        id:
                          type: integer
                          format: int32
                          description: The unique identifier for this vulnerability.
                        last_modification_time:
                          type: string
                          format: date-time
                          description: The timestamp when this vulnerability was last modified.
                        nist_severity:
                          type: string
                          description: The NIST severity level for this vulnerability.
                        publish_time:
                          type: string
                          format: date-time
                          description: The timestamp when this vulnerability was published.
                        update_time:
                          type: string
                          format: date-time
                          description: The timestamp when this vulnerability information was last updated.
                      title: PackageDetailsVulnerability
                  vulnerabilities_summary:
                    description: Summary of vulnerabilities found in this package.
                    type: object
                    properties:
                      critical_count:
                        type: integer
                        format: int32
                        description: The number of critical vulnerabilities.
                      high_count:
                        type: integer
                        format: int32
                        description: The number of high severity vulnerabilities.
                      low_count:
                        type: integer
                        format: int32
                        description: The number of low severity vulnerabilities.
                      medium_count:
                        type: integer
                        format: int32
                        description: The number of medium severity vulnerabilities.
                      total_count:
                        type: integer
                        format: int32
                      unclassified_count:
                        type: integer
                        format: int32
                    title: VulnerabilitiesSummary
                title: SbomPackageDetails
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/sbom-packages:
    get:
      operationId: listSbomPackages
      summary: List SBOM packages
      description: A `GET` request sent to the endpoint root returns a list of Software Bill of Materials (SBOM) packages associated with the specified organization. This endpoint provides comprehensive details about packages including their vulnerabilities, affected resources, and usage statistics. The results can be filtered by various criteria including package name, version, framework, and more.
      tags:
      - packages
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: Filters by the specified cloud account ID.
        in: query
        name: cloud-account-id
        required: false
        schema:
          type: string
      - description: Filters packages by the specified framework.
        in: query
        name: framework
        required: false
        schema:
          type: string
      - description: Filters packages by the specified image name.
        in: query
        name: image-name
        required: false
        schema:
          type: string
      - description: Filters packages by the specified package name.
        in: query
        name: package-name
        required: false
        schema:
          type: string
      - description: Filters packages by the specified package manager.
        in: query
        name: package-manager
        required: false
        schema:
          type: string
      - description: Filters packages by the specified package license.
        in: query
        name: package-license
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  cloud_account_id:
                    type: string
                    description: The unique identifier for the cloud account associated with this package.
                  cloud_provider:
                    type: string
                    description: The cloud provider associated with this package.
                    enum:
                    - AWS
                    - AZURE
                    - GCP
                    - ORACLE
                    - BYOC
                  framework:
                    type: string
                    description: The framework associated with this package.
                  images_summary:
                    description: Summary of images associated with this package.
                    type: object
                    properties:
                      affected_count:
                        type: integer
                        format: int32
                        description: The number of images affected by this package.
                    title: ImagesSummary
                  licenses:
                    type: array
                    description: The licenses associated with this package.
                    items:
                      type: string
                    uniqueItems: true
                  name:
                    type: string
                    description: The name of the package.
                  package_manager:
                    type: string
                    description: The package manager associated with this package.
                  resources_summary:
                    description: Summary of resources associated with this package.
                    type: object
                    properties:
                      in_use_count:
                        type: integer
                        format: int32
                        description: The number of resources currently using this package.
                      total_count:
                        type: integer
                        format: int32
                        description: The total number of resources associated with this package.
                    title: ResourcesSummary
                  version:
                    type: string
                    description: The version of the package.
                  vulnerabilities_summary:
                    description: Summary of vulnerabilities found in this package.
                    type: object
                    properties:
                      critical_count:
                        type: integer
                        format: int32
                        description: The number of critical vulnerabilities.
                      high_count:
                        type: integer
                        format: int32
                        description: The number of high severity vulnerabilities.
                      low_count:
                        type: integer
                        format: int32
                        description: The number of low severity vulnerabilities.
                      medium_count:
                        type: integer
                        format: int32
                        description: The number of medium severity vulnerabilities.
                      total_count:
                        type: integer
                        format: int32
                      unclassified_count:
                        type: integer
                        format: int32
                    title: VulnerabilitiesSummary
                title: SbomPackage
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 client credentials grant. Obtain client credentials in the Upwind Management Console, then exchange them for a JWT access token at https://auth.upwind.io/oauth/token with an audience matching the regional API host (https://api.upwind.io, https://api.eu.upwind.io, or https://api.me.upwind.io). Send the token as Authorization: Bearer <token>.'
      flows:
        clientCredentials:
          tokenUrl: https://auth.upwind.io/oauth/token
          scopes: {}
externalDocs:
  url: https://docs.upwind.io/restapi/v1/introduction
  description: API Reference
