openapi: 3.0.3
info:
  title: Upwind Management REST API v1 access-management Inventory API
  version: '1.0'
  description: Upwind Management REST API — administrative and data endpoints for the Upwind cloud security platform (threats, vulnerabilities, configurations, inventory, API security, workflows, access management). Reconstructed faithfully from the embedded OpenAPI operation definitions published in the Upwind docs (docs.upwind.io) by the API Evangelist enrichment pipeline; operation content is verbatim from the provider.
  contact:
    name: Upwind Support
    email: support@upwind.io
    url: https://docs.upwind.io/
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.upwind.io/restapi/v1/introduction (embedded docusaurus-plugin-openapi-docs operation JSON)
servers:
- url: https://api.upwind.io
  description: Production endpoint (US)
- url: https://api.eu.upwind.io
  description: Production endpoint (EU)
- url: https://api.me.upwind.io
  description: Production endpoint (ME)
security:
- OAuth2ClientCredentials: []
tags:
- name: Inventory
paths:
  /v2/organizations/{organization-id}/inventory/assets/search:
    post:
      operationId: assetsSearch
      summary: Search asset relationships
      description: 'This endpoint retrieves asset metadata, based on its schema, for resources that satisfy specific relationship criteria defined in your query. Unlike a standard search, this API is optimized for graph-style traversals, enabling you to discover assets based on how they are connected to other entities in your environment.


        **When to Use This API**


        Use this endpoint when your search criteria depend on relationships. For example, use this if you need to find all "Virtual Machines" that are "Connected To" a specific "Subnet" or "Part Of" a specific "EKS cluster".


        For an introduction to the query guide and how to use nested conditions, see [graph introduction](inventory) for more details.


        Rate limit: Requests to this endpoint are limited to 100 requests per minute per organization. For rate limit adjustments, please contact Upwind Support.'
      tags:
      - Inventory
      parameters:
      - name: organization-id
        in: path
        required: true
        schema:
          type: string
        description: The unique identifier for the organization.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
          default: 20
        description: Specifies the maximum number of items to be returned.
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: A cursor for pagination to retrieve the next set of results.
        example: eyJvZmZzZXQiOjIwfQ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              title: Payload
              properties:
                conditions:
                  type: array
                  description: List of filter conditions to apply to the search
                  items:
                    type: object
                    title: Condition
                    properties:
                      field:
                        type: string
                        description: The field name to filter on.
                        example: cloud_resource_id
                      operator:
                        type: string
                        description: The comparison operator to apply.
                        example: eq
                        enum:
                        - eq
                        - gt
                        - gte
                        - lt
                        - lte
                        - in
                        - exists
                      value:
                        type: array
                        description: The values to compare against.
                        example:
                        - i-12345678
                        items:
                          type: string
                      conditions:
                        type: array
                        description: Optional nested conditions for complex queries
                        items:
                          type: object
                    required:
                    - field
                    - operator
              required:
              - conditions
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      title: Entities
                      oneOf:
                      - type: object
                        title: Compute
                        oneOf:
                        - type: object
                          title: AWS Auto Scaling Group update
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_auto_scaling_group
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: scaling_group
                            arn:
                              type: string
                              description: The Amazon Resource Name that uniquely identifies this AWS Auto Scaling group.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            created_time:
                              type: string
                              description: The timestamp indicating when this Auto Scaling group was initially created.
                            max_size:
                              type: number
                              description: Defines the maximum number of instances the Auto Scaling group can scale out to.
                            min_size:
                              type: number
                              description: Defines the minimum number of instances the Auto Scaling group should maintain.
                            name:
                              type: string
                              description: Specifies the name assigned to this Auto Scaling group.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            status:
                              type: string
                              description: Indicates the current operational state of the Auto Scaling group, such as whether it is actively scaling resources, suspended, or encountering issues. This attribute provides visibility into the real-time health and lifecycle stage of the Auto Scaling group.
                            uw_protected_by:
                              type: string
                              description: Indicates whether the resource is scanned by a Sensor or a Cloud Scanner.
                            uw_risk_detections_severity_count_total:
                              type: number
                            uw_risk_network_internet_exposure_type:
                              type: string
                              description: Describes how this resource or its instances are exposed to the public internet, as determined by Upwind’s network analysis.
                            uw_risk_network_last_application_layer_internet_ingress_time:
                              type: string
                              format: date-time
                            uw_risk_network_last_imds_v1_at:
                              type: string
                              format: date-time
                              description: Records the latest time any instance in this group accessed Instance Metadata Service v1, which is less secure than IMDSv2.
                            uw_risk_network_last_imds_v2_at:
                              type: string
                              format: date-time
                              description: Indicates the most recent time an instance in this group accessed Instance Metadata Service v2 (IMDSv2), which offers enhanced security.
                            uw_risk_network_last_time_being_accessed_from_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent moment a resource in this group was accessed via a public endpoint or external IP.
                            uw_risk_network_last_time_being_accessed_from_internet_in_ssh_or_rdp:
                              type: string
                              format: date-time
                              description: Shows the latest time any resource within this Auto Scaling group was accessed from the public internet via SSH or RDP.
                            uw_risk_network_last_time_communicating_with_database:
                              type: string
                              format: date-time
                            uw_risk_network_last_time_communicating_with_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent timestamp when an instance in this Auto Scaling group communicated with the public internet.
                            uw_risk_vulnerabilities_severity_count_total:
                              type: number
                        - type: object
                          title: AWS EC2 AMI
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_ec2_ami
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: virtual_machine_image
                            arn:
                              type: string
                              description: The Amazon Resource Name (ARN) is a unique identifier for the AMI within the AWS ecosystem. It provides a standardized way to reference the AMI across different services and APIs, enabling seamless integration and resource management within the AWS cloud platform.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            is_public:
                              type: boolean
                              description: A boolean flag indicating whether the AMI has public launch permissions and can be used to launch instances by any AWS account, or if it is limited to your account or an explicit list of accounts. Public AMIs are commonly provided by AWS, marketplace vendors, or trusted partners.
                            name:
                              type: string
                              description: The name attribute represents the descriptive name assigned to the Amazon Machine Image (AMI). It serves as a human-readable identifier for the AMI, allowing you to easily recognize and manage it within the AWS ecosystem. The name should be concise yet informative, reflecting the purpose or contents of the AMI.
                            platform:
                              type: string
                              description: Indicates the platform or operating system of the Amazon Machine Image (AMI). Common values include "Windows" for Microsoft Windows AMIs, "Amazon Linux" or "Amazon Linux 2" for Amazon's Linux distributions, and other Linux distributions like "RHEL" (Red Hat Enterprise Linux) or "Ubuntu".
                        - type: object
                          title: AWS EC2 Instance
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_ec2_instance
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: virtual_machine
                            architecture:
                              type: string
                              description: Specifies the CPU architecture of the EC2 instance, such as x86_64 or arm64. This attribute is crucial for selecting the appropriate instance type and ensuring compatibility with the software and applications running on the instance within the AWS cloud infrastructure.
                            availability_zone:
                              type: string
                              description: The Availability Zone in which the EC2 instance is launched. An Availability Zone is an isolated location within an AWS Region, designed for fault tolerance and high availability. Distributing instances across multiple Availability Zones protects applications from failure of a single location.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            ebs_optimized:
                              type: boolean
                              description: A boolean value indicating whether the EC2 instance is optimized for Amazon Elastic Block Store (EBS) I/O. When enabled, this feature provides dedicated capacity for Amazon EBS I/O, which can improve performance for workloads that involve frequent data transfers between the instance and EBS volumes.
                            ena_support:
                              type: boolean
                              description: A boolean flag indicating whether the Elastic Network Adapter (ENA) is enabled for this EC2 instance. ENA is an enhanced networking option that provides higher packet per second (PPS) performance and lower latencies compared to traditional network interfaces.
                            instance_type:
                              type: string
                              description: Specifies the EC2 instance type, which determines the virtual hardware resources (CPU, memory, storage, and networking capacity) allocated to the instance within the AWS cloud infrastructure. Selecting the appropriate instance type is crucial for optimizing performance and cost-effectiveness.
                            ipv6_address:
                              type: string
                              description: The IPv6 address associated with the EC2 instance's primary network interface. IPv6 addresses enable modern IP communication and are a key requirement for many cloud-based applications and services. Proper IPv6 configuration is crucial for internet connectivity.
                            life_cycle:
                              type: string
                              description: The lifeCycle attribute specifies the current operational phase of an EC2 instance within the AWS cloud infrastructure. It reflects the instance's state, such as pending, running, stopping, stopped, or terminated, allowing for effective monitoring and management of the instance's lifecycle events and transitions.
                            name:
                              type: string
                              description: The user-defined name assigned to the EC2 instance, serving as a unique identifier within the AWS account. This name should adhere to AWS naming conventions and best practices to ensure proper resource management and organization within the cloud environment.
                            platform:
                              type: string
                              description: The operating system platform for the instance (e.g. Windows or Linux/Unix). This determines which AMIs are compatible and which configuration settings apply. Selecting the right platform is crucial for application compatibility and licensing requirements.
                            private_dns_name:
                              type: string
                              description: The internal DNS hostname that can be used for private AWS networking communication with the EC2 instance from other resources within the same VPC. This hostname is only resolvable from within the VPC's private IP address range and cannot be accessed externally over the internet.
                            private_ip:
                              type: string
                              description: The private IPv4 address assigned to the EC2 instance from the Amazon VPC IPv4 address pool. This IP address is used for communication within the VPC network and is not accessible from the public internet.
                            public_dns_name:
                              type: string
                              description: The public DNS name associated with the Amazon EC2 instance, which can be used to access the instance from the internet. This hostname is automatically generated and managed by AWS, providing a convenient way to connect to the instance without relying on its public IP address.
                            public_ip:
                              type: string
                              description: The public IP address assigned to the EC2 instance, allowing it to communicate with the internet and other external resources. This IP address is crucial for accessing the instance from outside the AWS network and enabling various cloud-based services.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            status:
                              type: string
                              description: Indicates the current state of the EC2 instance, such as pending, running, stopping, stopped, shutting-down, or terminated. The instance status provides visibility into the instance lifecycle and is essential for monitoring and managing EC2 resources within the AWS cloud environment.
                            uw_protected_by:
                              type: string
                              description: Indicates whether the resource is scanned by a Sensor or a Cloud Scanner.
                            uw_risk_detections_severity_count_total:
                              type: number
                            uw_risk_network_internet_exposure_type:
                              type: string
                              description: Describes how this resource or its instances are exposed to the public internet, as determined by Upwind’s network analysis.
                            uw_risk_network_last_application_layer_internet_ingress_time:
                              type: string
                              format: date-time
                            uw_risk_network_last_imds_v1_at:
                              type: string
                              format: date-time
                              description: Records the latest time any instance in this group accessed Instance Metadata Service v1, which is less secure than IMDSv2.
                            uw_risk_network_last_imds_v2_at:
                              type: string
                              format: date-time
                              description: Indicates the most recent time an instance in this group accessed Instance Metadata Service v2 (IMDSv2), which offers enhanced security.
                            uw_risk_network_last_time_being_accessed_from_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent moment a resource in this group was accessed via a public endpoint or external IP.
                            uw_risk_network_last_time_being_accessed_from_internet_in_ssh_or_rdp:
                              type: string
                              format: date-time
                              description: Shows the latest time any resource within this Auto Scaling group was accessed from the public internet via SSH or RDP.
                            uw_risk_network_last_time_communicating_with_database:
                              type: string
                              format: date-time
                            uw_risk_network_last_time_communicating_with_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent timestamp when an instance in this Auto Scaling group communicated with the public internet.
                            uw_risk_vulnerabilities_severity_count_total:
                              type: number
                        - type: object
                          title: AWS ECS Cluster
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_ecs_cluster
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: container_cluster
                            arn:
                              type: string
                              description: This property contains the Amazon Resource Name (ARN) of the ECS cluster. It uniquely identifies the resource across all AWS services.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            name:
                              type: string
                              description: This property represents the name of the ECS cluster. It serves as a human-friendly identifier for the cluster within the AWS environment.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            status:
                              type: string
                              description: This property indicates the current operational status of the ECS cluster. It reflects whether the cluster is active, draining, or inactive.
                            uw_protected_by:
                              type: string
                              description: Indicates whether the resource is scanned by a Sensor or a Cloud Scanner.
                        - type: object
                          title: AWS ECS Container Instance
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_ecs_container_instance
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: ecs_workload
                            agent_connected:
                              type: boolean
                              description: A boolean flag indicating whether the Amazon ECS container agent running on the instance is currently connected and communicating with the ECS control plane. This helps monitor the health and availability of the instance for scheduling and managing containers.
                            agent_update_status:
                              type: string
                              description: Indicates the current status of the ECS container agent software running on the container instance. This status reflects whether the agent is up-to-date, pending an update, or encountering issues during the update process.
                            agent_version:
                              type: string
                              description: The agentVersion attribute indicates the version of the Amazon ECS container agent software running on the container instance. The agent is responsible for managing the resource and lifecycle of containers on the instance. Keeping the agent up-to-date ensures access to the latest features and bug fixes.
                            agent_version_hash:
                              type: string
                              description: A hash value representing the specific version of the Amazon ECS container agent software installed and running on the instance. This attribute allows tracking agent updates and versioning across the ECS cluster.
                            arn:
                              type: string
                              description: The arn attribute represents the Amazon Resource Name (ARN) of the ECS container instance. It uniquely identifies the container instance within the AWS account and region. The ARN follows the format arn:aws:ecs:[region]:[aws_account_id]:container-instance/[cluster_name]/[container_instance_id].
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            docker_version:
                              type: string
                              description: Specifies the version of the Docker engine installed on the Amazon ECS container instance, which is responsible for building, running, and managing Docker containers. Tracking the Docker version helps ensure compatibility and plan upgrades across the cluster.
                            name:
                              type: string
                              description: The name attribute specifies the unique identifier assigned to the Amazon ECS container instance. This value is a user-defined string that helps distinguish and manage container instances within an ECS cluster. It is recommended to use a descriptive naming convention that aligns with organizational standards.
                            overall_health_status:
                              type: string
                              description: Indicates the current operational status of the Amazon ECS container instance based on system health checks and metrics. Possible values include HEALTHY, UNHEALTHY, UNKNOWN, and IMPAIRED. This attribute helps identify potential issues impacting container deployments and aids in capacity planning within the cluster.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            status:
                              type: string
                              description: The status attribute represents the current lifecycle state of the Amazon ECS container instance. Possible values include ACTIVE, DRAINING, and REGISTERING. This attribute provides visibility into the operational readiness of the instance to accept and run new tasks or to be decommissioned for updates or maintenance.
                            status_reason:
                              type: string
                              description: Provides a human-readable explanation for the current status of the Amazon ECS container instance, such as why it is in a pending, draining, or deregistered state. This contextual information aids in troubleshooting and understanding instance lifecycle events.
                        - type: object
                          title: AWS ECS Service
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_ecs_service
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: ecs_workload
                            arn:
                              type: string
                              description: This property contains the Amazon Resource Name (ARN) of the ECS service. It provides a unique identifier used across AWS services.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            launch_type:
                              type: string
                              description: This property indicates the launch type for the ECS service. It defines how tasks are hosted, such as on EC2 instances or using Fargate.
                            name:
                              type: string
                              description: This property represents the unique name assigned to the ECS service. It helps identify and manage the service within a specific ECS cluster.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            status:
                              type: string
                              description: This property indicates the current operational state of the ECS service, reflecting whether the service is actively running, updating, or encountering issues.
                            uw_protected_by:
                              type: string
                              description: Indicates whether the resource is scanned by a Sensor or a Cloud Scanner.
                            uw_risk_detections_severity_count_total:
                              type: number
                            uw_risk_network_internet_exposure_type:
                              type: string
                              description: Describes how this resource or its instances are exposed to the public internet, as determined by Upwind’s network analysis.
                            uw_risk_network_last_application_layer_internet_ingress_time:
                              type: string
                              format: date-time
                            uw_risk_network_last_imds_v1_at:
                              type: string
                              format: date-time
                              description: Records the latest time any instance in this group accessed Instance Metadata Service v1, which is less secure than IMDSv2.
                            uw_risk_network_last_imds_v2_at:
                              type: string
                              format: date-time
                              description: Indicates the most recent time an instance in this group accessed Instance Metadata Service v2 (IMDSv2), which offers enhanced security.
                            uw_risk_network_last_time_being_accessed_from_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent moment a resource in this group was accessed via a public endpoint or external IP.
                            uw_risk_network_last_time_being_accessed_from_internet_in_ssh_or_rdp:
                              type: string
                              format: date-time
                              description: Shows the latest time any resource within this Auto Scaling group was accessed from the public internet via SSH or RDP.
                            uw_risk_network_last_time_communicating_with_database:
                              type: string
                              format: date-time
                            uw_risk_network_last_time_communicating_with_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent timestamp when an instance in this Auto Scaling group communicated with the public internet.
                            uw_risk_vulnerabilities_severity_count_total:
                              type: number
                        - type: object
                          title: AWS ECS Standalone Task
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_ecs_standalone_task
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: ecs_workload
                            arn:
                              type: string
                              description: The Amazon Resource Name (ARN) is a unique identifier that precisely specifies the standalone task's location within the hierarchical structure of AWS resources. It provides a standardized way to reference the task across various AWS services and APIs.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            last_status:
                              type: string
                              description: The lastStatus attribute reflects the most recent operational state of the AWS ECS Standalone Task. It provides a historical record of the task's status, which can be useful for troubleshooting, auditing, or analyzing task behavior over time. This attribute helps track changes in the task's lifecycle and can be leveraged for monitoring and alerting purposes.
                            launch_type:
                              type: string
                              description: Indicates the launch type used to run the containers in this standalone task. Possible values include EC2 (running tasks on EC2 instances) or FARGATE (running tasks using AWS Fargate's serverless compute engine). The launch type impacts resource provisioning, networking, and billing.
                            name:
                              type: string
                              description: The name attribute specifies the unique identifier assigned to the AWS ECS Standalone Task. It serves as a human-readable label that distinguishes the task from others within the same ECS cluster or environment. The name should be descriptive and follow AWS naming conventions to facilitate resource management and organization within the AWS ecosystem.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                        - type: object
                          title: AWS ECS Task Definition
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_ecs_task_definition
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: ecs_workload
                            arn:
                              type: string
                              description: This property contains the Amazon Resource Name (ARN) of the ECS task definition. It uniquely identifies the task definition across AWS services.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            execution_role_arn:
                              type: string
                              description: This property contains the ARN of the IAM role that grants permissions for the ECS task to make AWS API calls on behalf of the task. It is essential for secure task execution.
                            family:
                              type: string
                              description: This property represents the family name of the ECS task definition. It groups multiple revisions of the same task definition together.
                            network_mode:
                              type: string
                              description: This property defines the networking mode used by the ECS task definition. It determines how containers communicate with each other and with external resources.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            status:
                              type: string
                              description: This property indicates the current status of the ECS task definition, such as whether it is active or deprecated.
                        - type: object
                          title: AWS EKS Cluster
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_eks_cluster
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: container_cluster
                            arn:
                              type: string
                              description: The arn (Amazon Resource Name) attribute is a unique, AWS-generated identifier for the Amazon EKS cluster resource. It provides a standardized way to reference the Kubernetes cluster across all AWS services, enabling seamless integration and interaction with other AWS resources and services involved in the cluster's deployment, management, and monitoring.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            k8s_cluster_id:
                              type: string
                              description: The k8sClusterId attribute represents the unique identifier assigned by AWS to the Kubernetes cluster within the Amazon EKS service. This identifier is used internally by AWS to manage and reference the specific Kubernetes cluster resource across various AWS services and components involved in the cluster's lifecycle and operations.
                            name:
                              type: string
                              description: The name attribute specifies the user-defined identifier assigned to the Amazon EKS (Elastic Kubernetes Service) cluster. It serves as a human-readable label for the Kubernetes cluster deployed on the AWS cloud platform, enabling easy identification and management of the resource within the AWS ecosystem.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            status:
                              type: string
                              description: Indicates the current lifecycle status of the Amazon EKS cluster. Possible values include CREATING, ACTIVE, DELETING, FAILED. Monitoring the cluster status is essential for managing its operational state and taking necessary actions based on its lifecycle phase.
                            uw_protected_by:
                              type: string
                              description: Indicates whether the resource is scanned by a Sensor or a Cloud Scanner.
                            uw_risk_detections_severity_count_total:
                              type: number
                            version:
                              type: string
                              description: The ekscluster version attribute specifies the Kubernetes version running on the Amazon EKS control plane managing the cluster. It determines the available features, security updates, and compatibility with applications and tools deployed on the worker nodes. Updating this version can enable new capabilities while ensuring minimal disruption.
                        - type: object
                          title: AWS Lambda Function
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_lambda_function
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: serverless_function
                            application_name:
                              type: string
                              description: Specifies the name of the application associated with the AWS Lambda function. This attribute allows for logical grouping and organization of related functions within the same application context, facilitating better management and monitoring of application components deployed on the AWS cloud platform.
                            arn:
                              type: string
                              description: The Amazon Resource Name (ARN) is a unique identifier assigned to the AWS Lambda function resource. It provides a standardized way to reference the function across all AWS services and APIs, enabling seamless integration and management within the AWS ecosystem.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            code_size:
                              type: number
                              description: The codeSize attribute represents the compressed size (in bytes) of the deployment package containing the AWS Lambda function code and dependencies. Larger code sizes can lead to longer cold start times, higher memory usage, and increased execution costs, impacting the function's performance, scalability, and billing.
                            memory_size:
                              type: number
                              description: The amount of memory, in megabytes, allocated to the AWS Lambda function during execution. This attribute determines the available memory resources for the function and can impact its performance and scalability.
                            name:
                              type: string
                              description: The name attribute specifies a unique identifier for the AWS Lambda function. It must conform to certain naming conventions and is used to reference the function within AWS services and APIs. The name should be descriptive and meaningful to aid in resource management and organization.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            runtime:
                              type: string
                              description: The runtime attribute specifies the identifier of the language runtime that AWS Lambda uses for the function. It must be compatible with the code in the deployment package. Supported runtimes include Node.js, Python, Ruby, Java, Go, .NET Core, and custom runtimes.
                            status:
                              type: string
                              description: The current operational status of the Lambda function, such as Active, Inactive, Failed, or Pending. This attribute provides visibility into the function's lifecycle state, enabling effective monitoring, troubleshooting, and automated actions based on the status.
                            url_config_auth_type:
                              type: string
                              description: The urlConfig.authType attribute specifies the authentication method for accessing the AWS Lambda function via HTTP. It determines how the function's URL is secured, allowing options like AWS_IAM for IAM-based authentication, or NONE for open public access. Proper configuration is crucial for controlling access and ensuring function security.
                            url_config_function_url:
                              type: string
                              description: The urlConfig.functionUrl specifies the Amazon Resource Name (ARN) of the AWS Lambda function to be invoked when a request is made to the configured URL. This attribute is required when creating an AWS Lambda function URL, which allows secure, public access to your Lambda function without the need for an API Gateway.
                            uw_protected_by:
                              type: string
                              description: Indicates whether the resource is scanned by a Sensor or a Cloud Scanner.
                            uw_risk_detections_severity_count_total:
                              type: number
                            uw_risk_network_internet_exposure_type:
                              type: string
                              description: Describes how this resource or its instances are exposed to the public internet, as determined by Upwind’s network analysis.
                            uw_risk_network_last_application_layer_internet_ingress_time:
                              type: string
                              format: date-time
                            uw_risk_network_last_imds_v1_at:
                              type: string
                              format: date-time
                              description: Records the latest time any instance in this group accessed Instance Metadata Service v1, which is less secure than IMDSv2.
                            uw_risk_network_last_imds_v2_at:
                              type: string
                              format: date-time
                              description: Indicates the most recent time an instance in this group accessed Instance Metadata Service v2 (IMDSv2), which offers enhanced security.
                            uw_risk_network_last_time_being_accessed_from_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent moment a resource in this group was accessed via a public endpoint or external IP.
                            uw_risk_network_last_time_being_accessed_from_internet_in_ssh_or_rdp:
                              type: string
                              format: date-time
                              description: Shows the latest time any resource within this Auto Scaling group was accessed from the public internet via SSH or RDP.
                            uw_risk_network_last_time_communicating_with_database:
                              type: string
                              format: date-time
                            uw_risk_network_last_time_communicating_with_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent timestamp when an instance in this Auto Scaling group communicated with the public internet.
                            uw_risk_vulnerabilities_severity_count_total:
                              type: number
                        - type: object
                          title: AWS Redshift Cluster
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_redshift_cluster
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: big_data
                            allow_version_upgrade:
                              type: boolean
                              description: A boolean flag that controls whether AWS is permitted to automatically upgrade the RedShift cluster to newer software versions as they become available. When enabled, it ensures your cluster benefits from latest features and security patches, but may introduce compatibility risks that require testing.
                            arn:
                              type: string
                              description: The arn attribute represents the Amazon Resource Name (ARN) of the AWS Redshift cluster. It uniquely identifies the cluster within the AWS account and region, providing a standardized way to reference the resource across various AWS services and APIs. The ARN follows a specific format that includes the partition, service, region, account ID, and resource ID.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            cluster_version:
                              type: string
                              description: The clusterVersion attribute represents the version of the Amazon Redshift engine software running on the cluster. AWS periodically releases new engine versions with performance enhancements, bug fixes, and new features. Upgrading the cluster to a newer version may provide improved query performance and access to additional capabilities.
                            db_name:
                              type: string
                              description: The logical name assigned to the database instance hosted within the RedShift cluster. This name is used to reference and connect to the specific database, and must be unique across all databases managed by the same RedShift cluster. It serves as a key identifier for database-level operations and access control.
                            encrypted:
                              type: boolean
                              description: Indicates whether the Amazon Redshift cluster is encrypted at rest using AWS Key Management Service (KMS) encryption keys. Enabling encryption helps protect data stored in the cluster against unauthorized access.
                            name:
                              type: string
                              description: The user-defined name assigned to identify the Amazon Redshift cluster. This name must be unique within an AWS account and region to avoid conflicts with other cluster resources.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                        - type: object
                          title: AWS Workspaces Workspace
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: aws_workspaces_workspace
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: virtual_desktop
                            arn:
                              type: string
                              description: The Amazon Resource Name (ARN) is a unique identifier that precisely specifies the WorkSpace resource's location within the AWS ecosystem. This hierarchical string value facilitates secure access and integration with other AWS services and resources.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            compute_type_name:
                              type: string
                              description: The computeTypeName attribute specifies the compute type for the WorkSpace, determining its hardware resources such as vCPUs, RAM, and storage capacity. It allows selecting an appropriate compute type based on performance and cost requirements for the specific use case.
                            ip_address:
                              type: string
                              description: The ipAddress attribute represents the IP address assigned to the WorkSpace, which allows network communication and remote access to the virtual desktop environment hosted on the AWS cloud. It is a crucial attribute for managing and connecting to WorkSpaces within an AWS account.
                            name:
                              type: string
                              description: A descriptive name for the WorkSpace instance that allows for easy identification and resource management within the AWS console and API operations. Naming conventions should be consistently applied across all WorkSpaces to enhance organization and discoverability.
                            operating_system_name:
                              type: string
                              description: Identifies the operating system installed on the WorkSpace, enabling compatibility checks and tailored configurations. Common values include Windows and Linux distributions, ensuring alignment with application requirements and user preferences.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            root_volume_encryption_enabled:
                              type: boolean
                              description: Specifies whether the root volume of the WorkSpace instance is encrypted using an AWS-managed customer master key. Enabling encryption helps protect data at rest and is recommended for enhanced security and compliance with regulatory requirements.
                            user_volume_encryption_enabled:
                              type: boolean
                              description: The userVolumeEncryptionEnabled attribute is a boolean flag that determines whether data encryption is enabled for the user volume associated with the AWS Workspace. Enabling encryption enhances data security and compliance by leveraging robust encryption mechanisms native to the AWS cloud platform, safeguarding sensitive information.
                            volume_encryption_key:
                              type: string
                              description: The volumeEncryptionKey attribute specifies the AWS Key Management Service (KMS) key to use for encrypting data stored on the root and user volumes of the WorkSpace. This enables end-to-end encryption of data at rest using your own encryption key.
                        - type: object
                          title: Azure AKS Cluster
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: azure_aks_cluster
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: container_cluster
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            name:
                              type: string
                              description: The user-defined name of the Azure Kubernetes Service (AKS) cluster resource. This name must be unique within the resource group and is used to identify and reference the specific AKS cluster deployment across Azure services and management tools.
                            public_network_access:
                              type: string
                              description: The publicNetworkAccess attribute controls network access to an Azure Kubernetes Service (AKS) cluster. When enabled, the cluster's control plane and nodes are assigned public IP addresses and accessible over the internet. When disabled, the cluster operates privately with no public IPs, requiring additional networking configuration like VPNs or private endpoints for external access.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            uw_protected_by:
                              type: string
                              description: Indicates whether the resource is scanned by a Sensor or a Cloud Scanner.
                            uw_risk_detections_severity_count_total:
                              type: number
                        - type: object
                          title: Azure App Service
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: azure_app_service
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: serverless_function
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            enabled:
                              type: boolean
                              description: A boolean flag indicating whether the App Service application is currently running and able to receive incoming requests. When enabled, the application is deployed and actively serving traffic. When disabled, the application is stopped and unavailable to users.
                            name:
                              type: string
                              description: The unique name assigned to the App Service application within a given Azure subscription and resource group. This name must be globally unique across all App Services in Azure and is used for identification and access purposes.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            runtime:
                              type: string
                              description: Specifies the software execution environment and version for the App Service application. This determines the language runtime, framework versions, and other dependencies required to run the application code. Common values include .NET, Node.js, Java, Python, and PHP with specific version numbers.
                            uw_risk_detections_severity_count_total:
                              type: number
                            uw_risk_network_last_application_layer_internet_ingress_time:
                              type: string
                              format: date-time
                            uw_risk_network_last_imds_v1_at:
                              type: string
                              format: date-time
                              description: Records the latest time any instance in this group accessed Instance Metadata Service v1, which is less secure than IMDSv2.
                            uw_risk_network_last_imds_v2_at:
                              type: string
                              format: date-time
                              description: Indicates the most recent time an instance in this group accessed Instance Metadata Service v2 (IMDSv2), which offers enhanced security.
                            uw_risk_network_last_time_being_accessed_from_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent moment a resource in this group was accessed via a public endpoint or external IP.
                            uw_risk_network_last_time_being_accessed_from_internet_in_ssh_or_rdp:
                              type: string
                              format: date-time
                              description: Shows the latest time any resource within this Auto Scaling group was accessed from the public internet via SSH or RDP.
                            uw_risk_network_last_time_communicating_with_database:
                              type: string
                              format: date-time
                            uw_risk_network_last_time_communicating_with_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent timestamp when an instance in this Auto Scaling group communicated with the public internet.
                            uw_risk_vulnerabilities_severity_count_total:
                              type: number
                        - type: object
                          title: Azure Container App
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: azure_container_app
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: container_cluster
                            allow_insecure:
                              type: boolean
                              description: A boolean flag that controls whether insecure HTTP traffic is permitted to the Container App. When set to true, both HTTP and HTTPS traffic will be accepted. When false, only HTTPS traffic will be allowed, enforcing secure communication with the containerized application.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            identity_type:
                              type: string
                              description: Specifies the type of managed identity used by the Azure Container App. This can be set to either 'SystemAssigned' for a managed identity automatically created and managed by Azure, or 'UserAssigned' for a custom managed identity created and managed by the user. The managed identity facilitates secure access to other Azure resources without storing credentials.
                            ingress_external:
                              type: boolean
                              description: The ingressExternal boolean attribute determines whether the Azure containerapp resource should be accessible from external networks or clients outside the Azure environment. When set to true, appropriate networking and security configurations are applied to enable external ingress to the containerapp.
                            ingress_fqdn:
                              type: string
                              description: The fully qualified domain name (FQDN) assigned to the ingress endpoint of the Azure Container App. This FQDN provides external access to the containerized application hosted within the Container App. It can be used to route traffic to the application from external clients or services.
                            latest_revision_fqdn:
                              type: string
                              description: The fully qualified domain name (FQDN) of the latest active revision of the Azure Container App. This FQDN can be used to access the application over the internet or within an Azure virtual network. It provides a stable endpoint for clients to connect to the containerized application.
                            name:
                              type: string
                              description: The name of the Azure Container App resource. This name must be unique within the resource group and adheres to Azure resource naming conventions. It is used to identify and reference the Container App in various Azure operations and management tasks.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            uw_risk_detections_severity_count_total:
                              type: number
                            uw_risk_network_last_application_layer_internet_ingress_time:
                              type: string
                              format: date-time
                            uw_risk_network_last_imds_v1_at:
                              type: string
                              format: date-time
                              description: Records the latest time any instance in this group accessed Instance Metadata Service v1, which is less secure than IMDSv2.
                            uw_risk_network_last_imds_v2_at:
                              type: string
                              format: date-time
                              description: Indicates the most recent time an instance in this group accessed Instance Metadata Service v2 (IMDSv2), which offers enhanced security.
                            uw_risk_network_last_time_being_accessed_from_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent moment a resource in this group was accessed via a public endpoint or external IP.
                            uw_risk_network_last_time_being_accessed_from_internet_in_ssh_or_rdp:
                              type: string
                              format: date-time
                              description: Shows the latest time any resource within this Auto Scaling group was accessed from the public internet via SSH or RDP.
                            uw_risk_network_last_time_communicating_with_database:
                              type: string
                              format: date-time
                            uw_risk_network_last_time_communicating_with_internet:
                              type: string
                              format: date-time
                              description: Indicates the most recent timestamp when an instance in this Auto Scaling group communicated with the public internet.
                            uw_risk_vulnerabilities_severity_count_total:
                              type: number
                        - type: object
                          title: Azure Container Environment
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: azure_container_environment
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: container_cluster
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            internal:
                              type: boolean
                              description: The internal attribute is a boolean flag that indicates whether the Azure containerenvironment resource is intended for internal use within the organization or application, or if it is meant to be exposed externally. This attribute helps manage access control and security boundaries for the containerenvironment resource.
                            log_analytics_customer_id:
                              type: string
                              description: The logAnalyticsCustomerId attribute specifies the unique identifier of the Log Analytics workspace associated with the Azure Container Environment. This workspace is used for collecting, analyzing, and querying log data generated by the container environment and its associated resources. It enables centralized monitoring and troubleshooting capabilities within the Azure cloud platform.
                            name:
                              type: string
                              description: The name of the Azure Container Environment resource. This name must be unique within the resource group it is created in, and should follow Azure naming conventions. The name serves as the primary identifier for managing and referencing the container environment.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                            zone_redundant:
                              type: boolean
                              description: Indicates whether the Azure Container Environment should be deployed across multiple availability zones to provide high availability and resilience against data center-level failures. Enabling zone redundancy helps ensure your containerized applications remain accessible even if an entire data center goes offline.
                        - type: object
                          title: Azure Container Instance
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: azure_container_instance
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: container_registry
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            container_image:
                              type: string
                              description: The containerImage attribute specifies the container image to be deployed for the Azure Container Instance resource. It should be a valid image reference in the Docker format, including the repository, image name, and tag. This image will be pulled from a container registry and used to create the containerized workload.
                            container_name:
                              type: string
                              description: The name assigned to an individual container instance within a container group. Each container group can contain multiple container instances, and this property uniquely identifies a specific container for configuration, monitoring and management purposes within that group.
                            ip_address:
                              type: string
                              description: The ipAddress attribute represents the IP address assigned to the Azure Container Instance, enabling network communication and accessibility to the containerized application or service. This IP address is typically dynamically allocated from a virtual network or subnet configured for the Container Instance deployment.
                            ip_address_type:
                              type: string
                              description: Specifies how the IP address for the container group should be allocated - either a public IP address accessible from the internet, or a private IP address only accessible from within the same virtual network. Possible values are 'Public' and 'Private'. This setting impacts network connectivity and security for the container instances.
                            name:
                              type: string
                              description: The name field specifies a unique identifier for the Azure Container Instance resource within the resource group. It must adhere to Azure naming conventions and be unique within the subscription and resource group. The name value is immutable and cannot be modified after resource creation.
                            os_type:
                              type: string
                              description: The osType attribute defines the operating system type to be used for the container instance. Azure Container Instances supports Linux and Windows operating systems. Specifying the correct osType ensures the underlying host infrastructure provisions the appropriate OS environment for running the containerized application.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                        - type: object
                          title: Azure Dedicated Host
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: azure_dedicated_host
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: virtual_machine
                            auto_replace_on_failure:
                              type: boolean
                              description: A boolean flag indicating whether Azure should automatically replace the dedicated host if a hardware failure occurs, minimizing downtime for your workloads. Enabling this helps ensure high availability for mission-critical virtual machines and services hosted on the dedicated host.
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            license_type:
                              type: string
                              description: The licenseType attribute specifies the type of software licensing model applied to the dedicated Azure host. It determines how the host's compute resources are billed and the types of virtual machines that can be deployed on the host. Common values include 'None' for pay-as-you-go billing, or 'Windows_Server' for bringing existing Windows Server licenses.
                            name:
                              type: string
                              description: The name is a user-defined identifier for the Azure dedicated host resource. It must be unique within the resource group and meet Azure naming requirements. The name provides a way to easily reference the dedicated host for management and operational purposes within the Azure subscription.
                            region:
                              type: string
                              description: Indicates the Region in which this resource is located.
                        - type: object
                          title: Azure Virtual Machine
                          properties:
                            label:
                              type: string
                              description: The entity label/type identifier
                              const: azure_virtual_machine
                            id:
                              type: string
                            asset_category:
                              type: string
                              description: The asset category for this entity
                              const: compute_platform
                            asset_sub_category:
                              type: string
                              description: The asset subcategory for this entity
                              const: virtual_machine
                            cloud_account_id:
                              type: string
                              description: This property represents the unique identifier assigned to a cloud account within a specific cloud provider. It is used to distinguish one account from another across services, tenants, and organizations.
                            cloud_provider:
                              type: string
                              description: This property identifies the cloud platform hosting the resource, such as AWS, Azure, or Google Cloud. It helps categorize assets by their originating cloud environment.
                            cloud_resource_id:
                              type: string
                              description: A unique identifier assigned to a resource within a cloud provider's environment. It ensures each resource (such as a VM, storage bucket, or database) can be distinctly referenced, managed and tracked across services and regions.
                            image_sku:
                              type: string
                              description: The specific stock keeping unit (SKU) of the virtual machine image used to create the instance. This specifies details such as the image publisher, offer, and version, which determine the operating system and other software pre-installed on the virtual machine.
                            name:
                              type: string
[...]
