openapi: 3.0.3
info:
  title: Upwind Management REST API v1 access-management events API
  version: '1.0'
  description: Upwind Management REST API — administrative and data endpoints for the Upwind cloud security platform (threats, vulnerabilities, configurations, inventory, API security, workflows, access management). Reconstructed faithfully from the embedded OpenAPI operation definitions published in the Upwind docs (docs.upwind.io) by the API Evangelist enrichment pipeline; operation content is verbatim from the provider.
  contact:
    name: Upwind Support
    email: support@upwind.io
    url: https://docs.upwind.io/
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.upwind.io/restapi/v1/introduction (embedded docusaurus-plugin-openapi-docs operation JSON)
servers:
- url: https://api.upwind.io
  description: Production endpoint (US)
- url: https://api.eu.upwind.io
  description: Production endpoint (EU)
- url: https://api.me.upwind.io
  description: Production endpoint (ME)
security:
- OAuth2ClientCredentials: []
tags:
- name: events
paths:
  /v1/organizations/{organization-id}/events:
    post:
      operationId: createEvent
      summary: Create an event
      description: A `POST` request sent to the endpoint root creates an Event object that is associated with the specified organization. To learn more about Events, refer to the [Continuous Integration (CI)](/integrations/continuous-integration/overview) page.
      tags:
      - events
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  oneOf:
                  - allOf:
                    - circular(EventData)
                    - type: object
                      properties:
                        branch:
                          type: string
                          description: The name of the branch involved in the event.
                        build_time:
                          type: string
                          format: date-time
                          description: Build time in date-time notation as defined by RFC 3339, section 5.6, for example, 2022-08-22T17:32:28Z
                        commit_sha:
                          type: string
                          description: The SHA of the commit involved in the event.
                        image:
                          type: string
                          description: The name of the image involved in the event.
                        image_sha:
                          type: string
                          description: The SHA of the image involved in the event.
                        pull_request_ids:
                          type: array
                          description: The identifiers of the Pull Requests involved in the event.
                          items:
                            type: integer
                            format: int32
                        repository:
                          type: string
                          description: The name of the repository involved in the event.
                        user:
                          type: string
                        version_control_platform:
                          type: string
                          description: The name of the version control platform.
                    title: CiEventData
                  - allOf:
                    - circular(EventData)
                    - type: object
                      properties:
                        cluster_id:
                          type: string
                          description: The unique identifier for the cluster associated with the resource involved in the event.
                        end_time:
                          type: string
                          format: date-time
                          description: End time in date-time notation as defined by RFC 3339, section 5.6, for example, 2022-08-22T17:32:28Z
                        initiator:
                          type: string
                          description: The initiator of the event.
                        resource_kind:
                          type: string
                          description: The kind of the resource involved in the event.
                        resource_name:
                          type: string
                          description: The name of the resource involved in the event.
                        resource_namespace:
                          type: string
                          description: The namespace of the resource involved in the event.
                        start_time:
                          type: string
                          format: date-time
                          description: Start time in date-time notation as defined by RFC 3339, section 5.6, for example, 2022-08-22T17:32:28Z
                    title: CdEventData
                  title: EventData
                reporter:
                  type: string
                  enum:
                  - circle_ci
                  - CIRCLE_CI
                  - github_actions
                  - GITHUB_ACTIONS
                  - CUSTOM_CI
                  - custom_ci
                  - CUSTOM_CD
                type:
                  type: string
                  enum:
                  - IMAGE_BUILD
                  - image_build
                  - IMAGE_DEPLOY
              title: EventRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                    - allOf:
                      - circular(EventData)
                      - type: object
                        properties:
                          branch:
                            type: string
                            description: The name of the branch involved in the event.
                          build_time:
                            type: string
                            format: date-time
                            description: Build time in date-time notation as defined by RFC 3339, section 5.6, for example, 2022-08-22T17:32:28Z
                          commit_sha:
                            type: string
                            description: The SHA of the commit involved in the event.
                          image:
                            type: string
                            description: The name of the image involved in the event.
                          image_sha:
                            type: string
                            description: The SHA of the image involved in the event.
                          pull_request_ids:
                            type: array
                            description: The identifiers of the Pull Requests involved in the event.
                            items:
                              type: integer
                              format: int32
                          repository:
                            type: string
                            description: The name of the repository involved in the event.
                          user:
                            type: string
                          version_control_platform:
                            type: string
                            description: The name of the version control platform.
                      title: CiEventData
                    - allOf:
                      - circular(EventData)
                      - type: object
                        properties:
                          cluster_id:
                            type: string
                            description: The unique identifier for the cluster associated with the resource involved in the event.
                          end_time:
                            type: string
                            format: date-time
                            description: End time in date-time notation as defined by RFC 3339, section 5.6, for example, 2022-08-22T17:32:28Z
                          initiator:
                            type: string
                            description: The initiator of the event.
                          resource_kind:
                            type: string
                            description: The kind of the resource involved in the event.
                          resource_name:
                            type: string
                            description: The name of the resource involved in the event.
                          resource_namespace:
                            type: string
                            description: The namespace of the resource involved in the event.
                          start_time:
                            type: string
                            format: date-time
                            description: Start time in date-time notation as defined by RFC 3339, section 5.6, for example, 2022-08-22T17:32:28Z
                      title: CdEventData
                    title: EventData
                  id:
                    type: string
                    description: ID of the event
                  reporter:
                    type: string
                    description: The entity creating the event.
                    enum:
                    - circle_ci
                    - CIRCLE_CI
                    - github_actions
                    - GITHUB_ACTIONS
                    - CUSTOM_CI
                    - custom_ci
                    - CUSTOM_CD
                  type:
                    type: string
                    description: The type of event.
                    enum:
                    - IMAGE_BUILD
                    - image_build
                    - IMAGE_DEPLOY
                title: EventList
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/events/shift-left/search:
    post:
      operationId: searchShiftLeftEvents
      summary: Search ShiftLeft events
      description: A `POST` request sent to the endpoint searches for ShiftLeft Events between the start_time and end_time.
      tags:
      - events
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Request body for searching shift-left events
              properties:
                end_time:
                  type: integer
                  format: int64
                  description: End of the time range filter as Unix timestamp in milliseconds.
                start_time:
                  type: integer
                  format: int64
                  description: Start of the time range filter as Unix timestamp in milliseconds.
              title: ShiftLeftListEventSearchRequest
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    description: ShiftLeft Events
                    items:
                      type: object
                      properties:
                        architecture:
                          type: string
                        branch:
                          type: string
                        commit_sha:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        fingerprint:
                          type: string
                        image:
                          type: string
                        image_sha:
                          type: string
                        image_size:
                          type: integer
                          format: int64
                        initiator:
                          type: string
                        os:
                          type: string
                        repository:
                          type: string
                        repository_scan_details:
                          type: object
                          properties:
                            main_branch_name:
                              type: string
                            pr_id:
                              type: string
                            pr_link:
                              type: string
                          title: ShiftLeftRepositoryEventData
                        source:
                          type: string
                        type:
                          type: string
                        updatedAt:
                          type: string
                          format: date-time
                        variant:
                          type: string
                      title: ShiftLeftEventData
                  metadata:
                    description: Pagination metadata
                    type: object
                    properties:
                      limit:
                        type: integer
                        format: int32
                        description: The maximum number of items returned per page
                        example: 20
                      next_cursor:
                        type: string
                        description: Cursor for fetching the next page of results. Absent if there are no more pages.
                        example: eyJvZmZzZXQiOjIwfQ
                      previous_cursor:
                        type: string
                        description: Cursor for fetching the previous page of results. Absent if this is the first page.
                        example: eyJvZmZzZXQiOjB9
                    title: ApiPaginationMetadata
                title: ShiftLeftSearchEventsData
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
  /v2/organizations/{organization-id}/events/shift-left/search:
    post:
      operationId: searchShiftLeftEvents
      summary: Search ShiftLeft events
      description: A POST request sent to the search endpoint returns a filtered list of ShiftLeft events that are associated with the specified organization based on the specified search criteria.
      tags:
      - events
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: Specifies the maximum number of items to be returned.
        in: query
        name: limit
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          maximum: 100
          minimum: 1
      - description: A cursor for pagination to retrieve the next set of results.
        example: eyJvZmZzZXQiOjIwfQ
        in: query
        name: cursor
        required: false
        schema:
          type: string
      - description: 'Sort results by one or more fields. Format: `field` or `field:asc` or `field:desc`. Multiple fields: `field1,field2:desc`. Allowed fields: `update_time`, `create_time`. Default: `update_time:asc`.'
        example: update_time:asc
        in: query
        name: sort
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Search request body.
              properties:
                conditions:
                  type: array
                  description: List of filter conditions to apply to the search
                  items:
                    type: object
                    description: A filter condition for search queries
                    properties:
                      field:
                        type: string
                        description: The field name to filter on.
                        enum:
                        - architecture
                        - branch
                        - image
                        - update_time
                        - create_time
                        example: architecture
                      operator:
                        type: string
                        description: The comparison operator to apply.
                        enum:
                        - eq
                        - contains
                        - like
                        - in
                        - gte
                        - lte
                        example: eq
                      value:
                        type: array
                        description: The values to compare against.
                        example:
                        - linux/amd64
                        items: {}
                    required:
                    - operator
                    - value
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: Successful paginated API response containing items and pagination metadata
                properties:
                  items:
                    type: array
                    description: The list of items in the response
                    items:
                      type: object
                      properties:
                        architecture:
                          type: string
                        branch:
                          type: string
                        commit_sha:
                          type: string
                        create_time:
                          type: string
                          format: date-time
                        fingerprint:
                          type: string
                        image:
                          type: string
                        image_sha:
                          type: string
                        image_size_bytes:
                          type: integer
                          format: int64
                        initiator:
                          type: string
                        os:
                          type: string
                        repository:
                          type: string
                        repository_scan_details:
                          type: object
                          properties:
                            main_branch_name:
                              type: string
                            pr_id:
                              type: string
                            pr_link:
                              type: string
                          title: ApiShiftLeftRepositoryEventData
                        source:
                          type: string
                        type:
                          type: string
                        update_time:
                          type: string
                          format: date-time
                        variant:
                          type: string
                      title: ApiShiftLeftEventData
                  metadata:
                    description: Pagination metadata containing cursor information for navigating results
                    type: object
                    properties:
                      limit:
                        type: integer
                        format: int32
                        description: The maximum number of items returned per page
                        example: 20
                      next_cursor:
                        type: string
                        description: Cursor for fetching the next page of results. Absent if there are no more pages.
                        example: eyJvZmZzZXQiOjIwfQ
                      previous_cursor:
                        type: string
                        description: Cursor for fetching the previous page of results. Absent if this is the first page.
                        example: eyJvZmZzZXQiOjB9
                    title: ApiPaginationMetadata
                title: RestApiPaginatedResponseApiShiftLeftEventData
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 client credentials grant. Obtain client credentials in the Upwind Management Console, then exchange them for a JWT access token at https://auth.upwind.io/oauth/token with an audience matching the regional API host (https://api.upwind.io, https://api.eu.upwind.io, or https://api.me.upwind.io). Send the token as Authorization: Bearer <token>.'
      flows:
        clientCredentials:
          tokenUrl: https://auth.upwind.io/oauth/token
          scopes: {}
externalDocs:
  url: https://docs.upwind.io/restapi/v1/introduction
  description: API Reference
