openapi: 3.0.3
info:
  title: Upwind Management REST API v1 access-management cloud-accounts API
  version: '1.0'
  description: Upwind Management REST API — administrative and data endpoints for the Upwind cloud security platform (threats, vulnerabilities, configurations, inventory, API security, workflows, access management). Reconstructed faithfully from the embedded OpenAPI operation definitions published in the Upwind docs (docs.upwind.io) by the API Evangelist enrichment pipeline; operation content is verbatim from the provider.
  contact:
    name: Upwind Support
    email: support@upwind.io
    url: https://docs.upwind.io/
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.upwind.io/restapi/v1/introduction (embedded docusaurus-plugin-openapi-docs operation JSON)
servers:
- url: https://api.upwind.io
  description: Production endpoint (US)
- url: https://api.eu.upwind.io
  description: Production endpoint (EU)
- url: https://api.me.upwind.io
  description: Production endpoint (ME)
security:
- OAuth2ClientCredentials: []
tags:
- name: cloud-accounts
paths:
  /v1/organizations/{organization-id}/cloud-accounts:
    post:
      operationId: createCloudAccount
      summary: Create a cloud account
      description: A `POST` request sent to the endpoint root creates a Cloud Account object that is associated with the specified organization. This endpoint allows you to add new cloud accounts to your organization for monitoring and security analysis. To learn more about Cloud Accounts, refer to the [Connect Cloud Account Overview](/getting-started/connect-cloud-account/overview) page.
      tags:
      - cloud-accounts
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  description: Configuration details for the cloud account.
                  type: object
                  properties:
                    infrastructure_types:
                      type: array
                      description: List of infrastructure types supported by the cloud account.
                      items:
                        type: string
                        enum:
                        - VMWARE
                        - HYPERV
                        - OPENSTACK
                        - BARE_METAL
                    location:
                      type: string
                      description: The geographic location or region of the cloud account.
                      example: us-east-1
                  title: BYOC
                name:
                  type: string
                  description: The display name for the cloud account.
                  example: Production
                provider:
                  type: string
                  description: The cloud provider type.
                  enum:
                  - BYOC
              required:
              - config
              - name
              - provider
              title: CreateCloudAccountRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Created
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Internal Server Error
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/cloud-accounts/{account-id}:
    delete:
      operationId: deleteCloudAccount
      summary: Delete a cloud account
      description: A `DELETE` request sent to the endpoint removes a Cloud Account object that is associated with the specified organization. This action permanently removes the cloud account and all associated data. To learn more about Cloud Accounts, refer to the [Connect Cloud Account Overview](/getting-started/connect-cloud-account/overview) page.
      tags:
      - cloud-accounts
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: The unique identifier for the cloud account.
        in: path
        name: account-id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Rate Limit Exceeded
        '500':
          description: Internal Server Error
      security:
      - OAuth2ClientCredentials: []
    patch:
      operationId: updateCloudAccount
      summary: Update a cloud account
      description: A `PATCH` request sent to the endpoint updates an existing Cloud Account object that is associated with the specified organization. This endpoint allows you to modify the configuration of an existing cloud account. To learn more about Cloud Accounts, refer to the [Connect Cloud Account Overview](/getting-started/connect-cloud-account/overview) page.
      tags:
      - cloud-accounts
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: The unique identifier for the cloud account.
        in: path
        name: account-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: object
                  description: Base cloud account configuration. The actual configuration type is determined by the `provider` property.
                  properties:
                    infrastructure_types:
                      type: array
                      description: List of infrastructure types supported by the cloud account.
                      items:
                        type: string
                        enum:
                        - VMWARE
                        - HYPERV
                        - OPENSTACK
                        - BARE_METAL
                    location:
                      type: string
                      description: The geographic location or region of the cloud account.
                      example: us-east-1
                  title: BYOC
              title: ApiUpdateCloudAccountRequest
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: OK
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Not Found
        '429':
          description: Rate Limit Exceeded
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Internal Server Error
      security:
      - OAuth2ClientCredentials: []
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 client credentials grant. Obtain client credentials in the Upwind Management Console, then exchange them for a JWT access token at https://auth.upwind.io/oauth/token with an audience matching the regional API host (https://api.upwind.io, https://api.eu.upwind.io, or https://api.me.upwind.io). Send the token as Authorization: Bearer <token>.'
      flows:
        clientCredentials:
          tokenUrl: https://auth.upwind.io/oauth/token
          scopes: {}
externalDocs:
  url: https://docs.upwind.io/restapi/v1/introduction
  description: API Reference
