openapi: 3.0.3
info:
  title: Upwind Management REST API v1
  version: '1.0'
  description: Upwind Management REST API — administrative and data endpoints for the Upwind cloud security
    platform (threats, vulnerabilities, configurations, inventory, API security, workflows, access management).
    Reconstructed faithfully from the embedded OpenAPI operation definitions published in the Upwind docs
    (docs.upwind.io) by the API Evangelist enrichment pipeline; operation content is verbatim from the
    provider.
  contact:
    name: Upwind Support
    email: support@upwind.io
    url: https://docs.upwind.io/
  x-apievangelist:
    generated: '2026-07-21'
    method: searched
    source: https://docs.upwind.io/restapi/v1/introduction (embedded docusaurus-plugin-openapi-docs operation
      JSON)
externalDocs:
  url: https://docs.upwind.io/restapi/v1/introduction
  description: API Reference
servers:
- url: https://api.upwind.io
  description: Production endpoint (US)
- url: https://api.eu.upwind.io
  description: Production endpoint (EU)
- url: https://api.me.upwind.io
  description: Production endpoint (ME)
security:
- OAuth2ClientCredentials: []
paths:
  /v1/organizations/{organization-id}/cloud-accounts:
    post:
      operationId: createCloudAccount
      summary: Create a cloud account
      description: A `POST` request sent to the endpoint root creates a Cloud Account object that is associated
        with the specified organization. This endpoint allows you to add new cloud accounts to your organization
        for monitoring and security analysis. To learn more about Cloud Accounts, refer to the [Connect
        Cloud Account Overview](/getting-started/connect-cloud-account/overview) page.
      tags:
      - cloud-accounts
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  description: Configuration details for the cloud account.
                  type: object
                  properties:
                    infrastructure_types:
                      type: array
                      description: List of infrastructure types supported by the cloud account.
                      items:
                        type: string
                        enum:
                        - VMWARE
                        - HYPERV
                        - OPENSTACK
                        - BARE_METAL
                    location:
                      type: string
                      description: The geographic location or region of the cloud account.
                      example: us-east-1
                  title: BYOC
                name:
                  type: string
                  description: The display name for the cloud account.
                  example: Production
                provider:
                  type: string
                  description: The cloud provider type.
                  enum:
                  - BYOC
              required:
              - config
              - name
              - provider
              title: CreateCloudAccountRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Created
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    description: The cloud provider account identifier.
                    example: 123456789012
                  config:
                    description: Configuration details for the cloud account.
                    type: object
                    properties:
                      infrastructure_types:
                        type: array
                        description: List of infrastructure types supported by the cloud account.
                        items:
                          type: string
                          enum:
                          - VMWARE
                          - HYPERV
                          - OPENSTACK
                          - BARE_METAL
                      location:
                        type: string
                        description: The geographic location or region of the cloud account.
                        example: us-east-1
                    title: BYOC
                  id:
                    type: string
                    description: The unique identifier for the cloud account.
                    example: ca_123456789
                  name:
                    type: string
                    description: The display name for the cloud account.
                    example: Production
                  provider:
                    type: string
                    description: The cloud provider type.
                    enum:
                    - BYOC
                title: CreateCloudAccountResponse
          description: Internal Server Error
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/configuration-rules:
    post:
      operationId: createCustomRule
      summary: Create a rule
      description: A `POST` request sent to this endpoint creates a Configuration Rule object that is
        associated with the specified organization. Configuration rules define custom compliance checks
        using Rego policy language to evaluate your cloud resources against security and governance requirements.
        To learn more about Configuration Rules, refer to the [Configuration Rules](/configurations/custom-configuration-rules)
        page.
      tags:
      - configurations
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                asset_kind:
                  type: string
                  description: Primary resource type to evaluate.
                  example: AWS_S3_BUCKET
                  minLength: 1
                category:
                  type: string
                  description: Category for the rule.
                description:
                  type: string
                  description: Short description of the rule.
                framework_id:
                  type: string
                  description: If this rule is linked to a framework.
                name:
                  type: string
                  description: Display name for the rule.
                  example: EnsureS3BucketsAreEncrypted
                  minLength: 1
                rego_policy:
                  type: string
                  description: Rego policy logic used to evaluate the rule.
                  example: is_pass(input_item) := false { input_item.public_access == true } else := true
                  minLength: 1
                related_asset_kinds:
                  type: array
                  description: Secondary asset kinds if the rule correlates multiple resources.
                  items:
                    type: string
                severity:
                  type: string
                  default: MEDIUM
                  description: Severity for the rule. Defaults to MEDIUM.
                  enum:
                  - LOW
                  - MEDIUM
                  - HIGH
                  - CRITICAL
              required:
              - asset_kind
              - name
              - rego_policy
              title: CreateConfigurationRuleRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                description: Response schema for creating a configuration rule
                properties:
                  category:
                    type: string
                    description: The category of this configuration rule.
                  create_time:
                    type: string
                    format: date-time
                    description: The timestamp when this configuration rule was created.
                  description:
                    type: string
                    description: The description of this configuration rule.
                  frameworks:
                    type: array
                    description: The frameworks associated with this configuration rule.
                    items:
                      type: object
                      properties:
                        cloud_provider:
                          type: string
                          description: The cloud provider this framework is associated with.
                        description:
                          type: string
                          description: A detailed description of the framework.
                        id:
                          type: string
                          description: The unique identifier for this configuration framework.
                        revision:
                          type: string
                          description: The revision of this configuration framework.
                        status:
                          type: string
                          description: The current status of the framework.
                          enum:
                          - ENABLED
                          - DISABLED
                        title:
                          type: string
                          description: The title of this configuration framework.
                        version:
                          type: string
                          description: The version of this configuration framework.
                      title: ConfigurationFramework
                  id:
                    type: string
                    description: The unique identifier for this configuration rule.
                  inventory_query:
                    description: The inventory query associated with this configuration rule.
                  name:
                    type: string
                    description: The name of this configuration rule.
                  rego_policy:
                    type: string
                    description: The Rego policy logic for this configuration rule.
                  risk_category:
                    type: string
                    description: The risk category of this configuration rule.
                  severity:
                    type: string
                    description: The severity level of this configuration rule.
                    enum:
                    - LOW
                    - MEDIUM
                    - HIGH
                    - CRITICAL
                  update_time:
                    type: string
                    format: date-time
                    description: The timestamp when this configuration rule was last updated.
                title: CreateConfigurationRuleResponse
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
    get:
      operationId: getCustomRules
      summary: List rules
      description: A `GET` request sent to the endpoint root returns a list of Configuration Rule objects
        that are associated with the specified organization. This endpoint allows you to search and filter
        configuration rules based on various criteria such as framework, name, and findings status. To
        learn more about Configurations, refer to the [Configuration Rules](/configurations/custom-configuration-rules)
        page.
      tags:
      - configurations
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: The page number to retrieve. Used for pagination along with the `per-page` parameter.
        in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - description: Specifies how many results are returned on a page.
        in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - description: Filters rules by the specified framework.
        in: query
        name: framework
        required: false
        schema:
          type: string
      - description: Filters rules by the specified rule name.
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filters rules by whether they have associated findings.
        in: query
        name: has-findings
        required: false
        schema:
          type: boolean
      - description: Filters rules by the earliest creation timestamp (in ISO8601 format).
        in: query
        name: min-create-time
        required: false
        schema:
          type: string
      - description: Filters rules by the latest creation timestamp (in ISO8601 format).
        in: query
        name: max-create-time
        required: false
        schema:
          type: string
      - description: Filters rules by the earliest update timestamp (in ISO8601 format).
        in: query
        name: min-update-time
        required: false
        schema:
          type: string
      - description: Filters rules by the latest update timestamp (in ISO8601 format).
        in: query
        name: max-update-time
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    create_time:
                      type: string
                      format: date-time
                      description: The timestamp when this configuration rule was created.
                    findings_count:
                      type: integer
                      format: int32
                      description: The number of findings associated with this configuration rule.
                    framework:
                      type: string
                      description: The framework associated with this configuration rule.
                    id:
                      type: string
                      description: The unique identifier for this configuration rule.
                    name:
                      type: string
                      description: The name of this configuration rule.
                    update_time:
                      type: string
                      format: date-time
                      description: The timestamp when this configuration rule was last updated.
                  title: ConfigurationRule
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/events:
    post:
      operationId: createEvent
      summary: Create an event
      description: A `POST` request sent to the endpoint root creates an Event object that is associated
        with the specified organization. To learn more about Events, refer to the [Continuous Integration
        (CI)](/integrations/continuous-integration/overview) page.
      tags:
      - events
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  oneOf:
                  - allOf:
                    - circular(EventData)
                    - type: object
                      properties:
                        branch:
                          type: string
                          description: The name of the branch involved in the event.
                        build_time:
                          type: string
                          format: date-time
                          description: Build time in date-time notation as defined by RFC 3339, section
                            5.6, for example, 2022-08-22T17:32:28Z
                        commit_sha:
                          type: string
                          description: The SHA of the commit involved in the event.
                        image:
                          type: string
                          description: The name of the image involved in the event.
                        image_sha:
                          type: string
                          description: The SHA of the image involved in the event.
                        pull_request_ids:
                          type: array
                          description: The identifiers of the Pull Requests involved in the event.
                          items:
                            type: integer
                            format: int32
                        repository:
                          type: string
                          description: The name of the repository involved in the event.
                        user:
                          type: string
                        version_control_platform:
                          type: string
                          description: The name of the version control platform.
                    title: CiEventData
                  - allOf:
                    - circular(EventData)
                    - type: object
                      properties:
                        cluster_id:
                          type: string
                          description: The unique identifier for the cluster associated with the resource
                            involved in the event.
                        end_time:
                          type: string
                          format: date-time
                          description: End time in date-time notation as defined by RFC 3339, section
                            5.6, for example, 2022-08-22T17:32:28Z
                        initiator:
                          type: string
                          description: The initiator of the event.
                        resource_kind:
                          type: string
                          description: The kind of the resource involved in the event.
                        resource_name:
                          type: string
                          description: The name of the resource involved in the event.
                        resource_namespace:
                          type: string
                          description: The namespace of the resource involved in the event.
                        start_time:
                          type: string
                          format: date-time
                          description: Start time in date-time notation as defined by RFC 3339, section
                            5.6, for example, 2022-08-22T17:32:28Z
                    title: CdEventData
                  title: EventData
                reporter:
                  type: string
                  enum:
                  - circle_ci
                  - CIRCLE_CI
                  - github_actions
                  - GITHUB_ACTIONS
                  - CUSTOM_CI
                  - custom_ci
                  - CUSTOM_CD
                type:
                  type: string
                  enum:
                  - IMAGE_BUILD
                  - image_build
                  - IMAGE_DEPLOY
              title: EventRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                    - allOf:
                      - circular(EventData)
                      - type: object
                        properties:
                          branch:
                            type: string
                            description: The name of the branch involved in the event.
                          build_time:
                            type: string
                            format: date-time
                            description: Build time in date-time notation as defined by RFC 3339, section
                              5.6, for example, 2022-08-22T17:32:28Z
                          commit_sha:
                            type: string
                            description: The SHA of the commit involved in the event.
                          image:
                            type: string
                            description: The name of the image involved in the event.
                          image_sha:
                            type: string
                            description: The SHA of the image involved in the event.
                          pull_request_ids:
                            type: array
                            description: The identifiers of the Pull Requests involved in the event.
                            items:
                              type: integer
                              format: int32
                          repository:
                            type: string
                            description: The name of the repository involved in the event.
                          user:
                            type: string
                          version_control_platform:
                            type: string
                            description: The name of the version control platform.
                      title: CiEventData
                    - allOf:
                      - circular(EventData)
                      - type: object
                        properties:
                          cluster_id:
                            type: string
                            description: The unique identifier for the cluster associated with the resource
                              involved in the event.
                          end_time:
                            type: string
                            format: date-time
                            description: End time in date-time notation as defined by RFC 3339, section
                              5.6, for example, 2022-08-22T17:32:28Z
                          initiator:
                            type: string
                            description: The initiator of the event.
                          resource_kind:
                            type: string
                            description: The kind of the resource involved in the event.
                          resource_name:
                            type: string
                            description: The name of the resource involved in the event.
                          resource_namespace:
                            type: string
                            description: The namespace of the resource involved in the event.
                          start_time:
                            type: string
                            format: date-time
                            description: Start time in date-time notation as defined by RFC 3339, section
                              5.6, for example, 2022-08-22T17:32:28Z
                      title: CdEventData
                    title: EventData
                  id:
                    type: string
                    description: ID of the event
                  reporter:
                    type: string
                    description: The entity creating the event.
                    enum:
                    - circle_ci
                    - CIRCLE_CI
                    - github_actions
                    - GITHUB_ACTIONS
                    - CUSTOM_CI
                    - custom_ci
                    - CUSTOM_CD
                  type:
                    type: string
                    description: The type of event.
                    enum:
                    - IMAGE_BUILD
                    - image_build
                    - IMAGE_DEPLOY
                title: EventList
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/configuration-frameworks:
    post:
      operationId: createFramework
      summary: Create a framework
      description: Creates a new compliance framework for the specified organization.
      tags:
      - configurations
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                cloud_provider:
                  type: string
                  description: The cloud provider this framework is associated with.
                  enum:
                  - AWS
                  - AZURE
                  - GCP
                  - BYOC
                  - ALL
                  - KUBERNETES
                description:
                  type: string
                  description: A detailed description of the framework.
                title:
                  type: string
                  description: The title of the framework.
              title: CreateConfigurationFrameworkRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  cloud_provider:
                    type: string
                    description: The cloud provider this framework is associated with.
                  description:
                    type: string
                    description: A detailed description of the framework.
                  id:
                    type: string
                    description: The unique identifier for this configuration framework.
                  revision:
                    type: string
                    description: The revision of this configuration framework.
                  status:
                    type: string
                    description: The current status of the framework.
                    enum:
                    - ENABLED
                    - DISABLED
                  title:
                    type: string
                    description: The title of this configuration framework.
                  version:
                    type: string
                    description: The version of this configuration framework.
                title: ConfigurationFramework
          description: Created
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  cloud_provider:
                    type: string
                    description: The cloud provider this framework is associated with.
                  description:
                    type: string
                    description: A detailed description of the framework.
                  id:
                    type: string
                    description: The unique identifier for this configuration framework.
                  revision:
                    type: string
                    description: The revision of this configuration framework.
                  status:
                    type: string
                    description: The current status of the framework.
                    enum:
                    - ENABLED
                    - DISABLED
                  title:
                    type: string
                    description: The title of this configuration framework.
                  version:
                    type: string
                    description: The version of this configuration framework.
                title: ConfigurationFramework
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
        '500':
          content:
            application/json:
              schema:
                type: object
                properties:
                  cloud_provider:
                    type: string
                    description: The cloud provider this framework is associated with.
                  description:
                    type: string
                    description: A detailed description of the framework.
                  id:
                    type: string
                    description: The unique identifier for this configuration framework.
                  revision:
                    type: string
                    description: The revision of this configuration framework.
                  status:
                    type: string
                    description: The current status of the framework.
                    enum:
                    - ENABLED
                    - DISABLED
                  title:
                    type: string
                    description: The title of this configuration framework.
                  version:
                    type: string
                    description: The version of this configuration framework.
                title: ConfigurationFramework
          description: Internal Server Error
      security:
      - OAuth2ClientCredentials: []
    get:
      operationId: getAllFrameworks
      summary: List frameworks
      description: A `GET` request sent to the endpoint root returns a list of Configuration Framework
        objects that are associated with the specified organization. This endpoint allows you to search
        and filter configuration frameworks based on various criteria such as framework IDs, cloud providers,
        and status. To learn more about Frameworks, refer to the [Frameworks](/configurations/frameworks)
        page.
      tags:
      - configurations
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: The page number to retrieve. Used for pagination along with the `per-page` parameter.
        in: query
        name: page
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - description: Specifies how many results are returned on a page.
        in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - description: Filters frameworks by the specified framework IDs.
        in: query
        name: framework-ids
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - description: Filters frameworks by the specified cloud providers.
        in: query
        name: cloud-providers
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      - description: Filters frameworks by their status.
        in: query
        name: status
        required: false
        schema:
          type: string
          enum:
          - ENABLED
          - DISABLED
      - description: Filters frameworks by the earliest creation timestamp (in ISO8601 format).
        in: query
        name: min-create-time
        required: false
        schema:
          type: string
      - description: Filters frameworks by the latest creation timestamp (in ISO8601 format).
        in: query
        name: max-create-time
        required: false
        schema:
          type: string
      - description: Filters frameworks by the earliest update timestamp (in ISO8601 format).
        in: query
        name: min-update-time
        required: false
        schema:
          type: string
      - description: Filters frameworks by the latest update timestamp (in ISO8601 format).
        in: query
        name: max-update-time
        required: false
        schema:
          type: string
      - description: Filters frameworks by the earliest last scan timestamp (in ISO8601 format).
        in: query
        name: min-last-scan-time
        required: false
        schema:
          type: string
      - description: Filters frameworks by the latest last scan timestamp (in ISO8601 format).
        in: query
        name: max-last-scan-time
        required: false
        schema:
          type: string
      - description: Filters frameworks by the minimum score value.
        in: query
        name: min-score-value
        required: false
        schema:
          type: integer
          format: int32
      - description: Filters frameworks by the maximum score value.
        in: query
        name: max-score-value
        required: false
        schema:
          type: integer
          format: int32
      - description: Filters frameworks by the specified types.
        in: query
        name: types
        required: false
        schema:
          type: array
          items:
            type: string
          uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    cloud_provider:
                      type: string
                      description: The cloud provider this framework is associated with.
                    compliance_status:
                      description: The compliance status for this framework.
                      type: object
                      properties:
                        score:
                          type: integer
                          format: int32
                          description: The compliance score for this framework.
                      title: ConfigurationFrameworkStatus
                    create_time:
                      type: string
                      format: date-time
                      description: The timestamp when the framework was created.
                    description:
                      type: string
                      description: A detailed description of the framework.
                    id:
                      type: string
                      description: The unique identifier for this configuration framework.
                    last_scan_time:
                      type: string
                      format: date-time
                      description: The timestamp when the framework was last scanned.
                    revision:
                      type: string
                      description: The revision of this configuration framework.
                    rollout_state:
                      type: string
                      description: The rollout state of the framework.
                    status:
                      type: string
                      description: The current status of the framework.
                      enum:
                      - ENABLED
                      - DISABLED
                    title:
                      type: string
                      description: The title of this configuration framework.
                    type:
                      type: string
                      description: The type of framework.
                    update_time:
                      type: string
                      format: date-time
                      description: The timestamp when the framework was last updated.
                    version:
                      type: string
                      description: The version of this configuration framework.
                  title: DetailedComplianceFramework
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/integration-webhooks:
    post:
      operationId: createWebhookIntegration
      summary: Create a webhook
      description: A `POST` request sent to the endpoint root creates a integration webhook object that
        is associated with the specified organization. Integration Webhooks enable you to send notifications
        and data to external systems when specific events occur. To learn more about integration webhooks,
        refer to the [Custom Webhook](/integrations/monitoring-and-logging/custom-webhook) page.
      tags:
      - integrations
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  oneOf:
                  - allOf:
                    - title: WebhookRequestConfig
                    - type: object
                      properties:
                        authentication:
                          oneOf:
                          - allOf:
                            - type: object
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - BEARER
                                  - API_KEY
                              title: Authentication
                            - type: object
                              properties:
                                key:
                                  type: string
                                value:
                                  type: string
                            title: ApiKeyAuthentication
                          - allOf:
                            - type: object
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - BEARER
                                  - API_KEY
                              title: Authentication
                            - type: object
                              properties:
                                token:
                                  type: string
                            title: BearerAuthentication
                        headers:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                              sensitive:
                                type: boolean
                              value:
                                type: string
                            title: CustomWebhookHeader
                        url:
                          type: string
                    title: CustomWebhookRequestConfig
                  - allOf:
                    - title: WebhookRequestConfig
                    - type: object
                      properties:
                        api_key:
                          type: string
                        region:
                          type: string
                        service:
                          type: string
                    title: DatadogWebhookRequestConfig
                  - allOf:
                    - title: WebhookRequestConfig
                    - type: object
                      properties:
                        channel_name:
                          type: string
                        url:
                          type: string
                    title: MsTeamsWebhookRequestConfig
                  - allOf:
                    - title: WebhookRequestConfig
                    - type: object
                      properties:
                        hec_token:
                          type: string
                        hec_uri:
                          type: string
                    title: SplunkWebhookRequestConfig
                  - allOf:
                    - title: WebhookRequestConfig
                    - type: object
                      properties:
                        secret:
                          type: string
                        url:
                          type: string
                    title: TinesWebhookRequestConfig
                name:
                  type: string
                vendor:
                  type: string
                  enum:
                  - DATADOG
                  - SPLUNK
                  - MSTEAMS
                  - TINES
                  - CUSTOM
              required:
              - name
              - vendor
              title: CreateWebhookRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                description: Base webhook integration response
                discriminator:
                  mapping:
                    CUSTOM:
                      allOf:
                      - circular(IntegrationWebhook)
                      - type: object
                        properties:
                          config:
                            description: Configuration specific to custom webhook integration.
                            type: object
                            properties:
                              authentication:
                                description: Authentication configuration for the webhook.
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: The authentication type.
                                    enum:
                                    - BEARER
                                    - API_KEY
                                title: WebhookAuthentication
                              headers:
                                type: array
                                description: Custom headers to include in webhook requests.
                                items:
                                  type: object
                                  properties:
                                    encrypted:
                                      type: boolean
                                      description: Whether the header value is encrypted.
                                    key:
                                      type: string
                                      description: The header key.
                                    value:
                                      type: string
                                      description: The header value.
                                  title: WebhookHeader
                              url:
                                type: string
                                description: The webhook URL endpoint.
                            title: Custom
                      title: CustomWebhookResponse
                    DATADOG:
                      allOf:
                      - circular(IntegrationWebhook)
                      - type: object
                        properties:
                          config:
                            description: Configuration specific to Datadog webhook integration.
                            type: object
                            properties:
                              region:
                                type: string
                                description: The Datadog region.
                              service:
                                type: string
                                description: The Datadog service name.
                            title: Datadog
                      title: DatadogWebhookResponse
                    MSTEAMS:
                      allOf:
                      - circular(IntegrationWebhook)
                      - type: object
                        properties:
                          config:
                            description: Configuration specific to Microsoft Teams webhook integration.
                            type: object
                            properties:
                              channel_name:
                                type: string
                                description: The Microsoft Teams channel name.
                              url:
                                type: string
                                description: The Microsoft Teams webhook URL.
                            title: Microsoft Teams
                      title: MsTeamsWebhookResponse
                    SPLUNK:
                      allOf:
                      - circular(IntegrationWebhook)
                      - type: object
                        properties:
                          config:
                            description: Configuration specific to Splunk webhook integration.
                            type: object
                            properties:
                              hec_uri:
                                type: string
                                description: The Splunk HTTP Event Collector URI.
                            title: Splunk
                      title: SplunkWebhookResponse
                    TINES:
                      allOf:
                      - circular(IntegrationWebhook)
                      - type: object
                        properties:
                          config:
                            description: Configuration specific to Tines webhook integration.
                            type: object
                            properties:
                              url:
                                type: string
                                description: The Tines webhook URL.
                            title: Tines
                      title: TinesWebhookResponse
                  propertyName: vendor
                properties:
                  create_time:
                    type: string
                    format: date-time
                    description: The timestamp when this integration webhook was created.
                  id:
                    type: string
                    description: The unique identifier for this integration webhook.
                  name:
                    type: string
                    description: The name of this integration webhook.
                  status:
                    type: string
                    description: The status of this integration webhook.
                    enum:
                    - ENABLED
                    - DISABLED
                  update_time:
                    type: string
                    format: date-time
                    description: The timestamp when this integration webhook was last updated.
                  vendor:
                    type: string
                    description: The vendor type of this integration webhook.
                    enum:
                    - DATADOG
                    - SPLUNK
                    - MSTEAMS
                    - TINES
                    - CUSTOM
                title: IntegrationWebhook
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
        '500':
          description: Internal Server Error
      security:
      - OAuth2ClientCredentials: []
    get:
      operationId: getWebhookIntegrations
      summary: List webhooks
      description: A `GET` request sent to the endpoint root returns a list of integration webhook objects
        that are associated with the specified organization. Integration Webhooks enable you to send notifications
        and data to external systems when specific events occur. To learn more about integration webhooks,
        refer to the [Custom Webhook](/integrations/monitoring-and-logging/custom-webhook) page.
      tags:
      - integrations
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      - description: Filters integration webhooks by vendor type.
        in: query
        name: vendor
        required: false
        schema:
          type: string
          enum:
          - DATADOG
          - SPLUNK
          - MSTEAMS
          - TINES
          - CUSTOM
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Base webhook integration response
                  discriminator:
                    mapping:
                      CUSTOM:
                        allOf:
                        - circular(IntegrationWebhook)
                        - type: object
                          properties:
                            config:
                              description: Configuration specific to custom webhook integration.
                              type: object
                              properties:
                                authentication:
                                  description: Authentication configuration for the webhook.
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: The authentication type.
                                      enum:
                                      - BEARER
                                      - API_KEY
                                  title: WebhookAuthentication
                                headers:
                                  type: array
                                  description: Custom headers to include in webhook requests.
                                  items:
                                    type: object
                                    properties:
                                      encrypted:
                                        type: boolean
                                        description: Whether the header value is encrypted.
                                      key:
                                        type: string
                                        description: The header key.
                                      value:
                                        type: string
                                        description: The header value.
                                    title: WebhookHeader
                                url:
                                  type: string
                                  description: The webhook URL endpoint.
                              title: Custom
                        title: CustomWebhookResponse
                      DATADOG:
                        allOf:
                        - circular(IntegrationWebhook)
                        - type: object
                          properties:
                            config:
                              description: Configuration specific to Datadog webhook integration.
                              type: object
                              properties:
                                region:
                                  type: string
                                  description: The Datadog region.
                                service:
                                  type: string
                                  description: The Datadog service name.
                              title: Datadog
                        title: DatadogWebhookResponse
                      MSTEAMS:
                        allOf:
                        - circular(IntegrationWebhook)
                        - type: object
                          properties:
                            config:
                              description: Configuration specific to Microsoft Teams webhook integration.
                              type: object
                              properties:
                                channel_name:
                                  type: string
                                  description: The Microsoft Teams channel name.
                                url:
                                  type: string
                                  description: The Microsoft Teams webhook URL.
                              title: Microsoft Teams
                        title: MsTeamsWebhookResponse
                      SPLUNK:
                        allOf:
                        - circular(IntegrationWebhook)
                        - type: object
                          properties:
                            config:
                              description: Configuration specific to Splunk webhook integration.
                              type: object
                              properties:
                                hec_uri:
                                  type: string
                                  description: The Splunk HTTP Event Collector URI.
                              title: Splunk
                        title: SplunkWebhookResponse
                      TINES:
                        allOf:
                        - circular(IntegrationWebhook)
                        - type: object
                          properties:
                            config:
                              description: Configuration specific to Tines webhook integration.
                              type: object
                              properties:
                                url:
                                  type: string
                                  description: The Tines webhook URL.
                              title: Tines
                        title: TinesWebhookResponse
                    propertyName: vendor
                  properties:
                    create_time:
                      type: string
                      format: date-time
                      description: The timestamp when this integration webhook was created.
                    id:
                      type: string
                      description: The unique identifier for this integration webhook.
                    name:
                      type: string
                      description: The name of this integration webhook.
                    status:
                      type: string
                      description: The status of this integration webhook.
                      enum:
                      - ENABLED
                      - DISABLED
                    update_time:
                      type: string
                      format: date-time
                      description: The timestamp when this integration webhook was last updated.
                    vendor:
                      type: string
                      description: The vendor type of this integration webhook.
                      enum:
                      - DATADOG
                      - SPLUNK
                      - MSTEAMS
                      - TINES
                      - CUSTOM
                  title: IntegrationWebhook
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Rate Limit Exceeded
        '500':
          description: Internal Server Error
      security:
      - OAuth2ClientCredentials: []
  /v1/organizations/{organization-id}/workflows:
    post:
      operationId: createWorkflow
      summary: Create a workflow
      description: A `POST` request sent to the endpoint root creates a Workflow object that is associated
        with the specified organization. Workflows provide automation capabilities for responding to security
        events, vulnerabilities, and configuration findings. To learn more about Workflows, refer to the
        [Workflows](/settings/workflows) page.
      tags:
      - workflows
      parameters:
      - description: The unique identifier for the Upwind organization.
        example: org_Xk9mPq7RtYwN2vLs
        in: path
        name: organization-id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  description: Workflow configuration (triggered or scheduled)
                  oneOf:
                  - allOf:
                    - type: object
                      description: The configuration settings for a workflow, supporting both triggered
                        and scheduled workflows.
                      properties:
                        actions:
                          type: array
                          description: List of actions that are executed when this workflow is triggered.
                          items:
                            oneOf:
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  recipients:
                                    type: array
                                    description: List of email recipients. Required when `target_audience`
                                      is `CUSTOM`.
                                    items:
                                      type: string
                                  target_audience:
                                    type: string
                                    description: The target audience for the email. Use `ALL` to send
                                      to all organization members, or `CUSTOM` to specify recipients manually.
                                    enum:
                                    - ALL
                                    - CUSTOM
                              title: Email
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  assignee_id:
                                    type: string
                                    description: The Jira assignee ID.
                                  custom_fields:
                                    type: object
                                    additionalProperties: {}
                                  issue_type_id:
                                    type: string
                                    description: The Jira issue type ID.
                                  labels:
                                    type: array
                                    description: List of labels for the Jira issue.
                                    items:
                                      type: string
                                  project_id:
                                    type: string
                                    description: The Jira project ID.
                                  reporter_id:
                                    type: string
                                    description: The Jira reporter ID.
                              title: Jira
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  channel:
                                    type: string
                                    description: The Slack channel for the action.
                                  message:
                                    type: string
                                    description: The message content for the action.
                              title: Slack
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  webhook_id:
                                    type: string
                                    description: The ID of the integration webhook to use.
                              title: Webhook
                        selectors:
                          type: array
                          description: List of selectors that filter resources for this workflow.
                          items:
                            oneOf:
                            - allOf:
                              - type: object
                                description: Base workflow selector. The concrete implementation is selected
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The type of selector.
                                    enum:
                                    - LABEL
                                    - TAG
                                    - ENDPOINT_TAG
                                    - CLOUD_PROVIDER
                                    - CLOUD_ACCOUNT
                                    - VPC
                                    - RESOURCE_NAME
                                    - RESOURCE_KIND
                                    - HOST
                                    - CLUSTER
                                    - CLUSTER_NAME
                                    - NAMESPACE
                                title: BaseWorkflowSelector
                              - type: object
                                properties:
                                  key_values:
                                    type: array
                                    description: List of key-value pairs for this selector.
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          description: The key of the key-value pair.
                                        value:
                                          type: string
                                          description: The value of the key-value pair.
                                      title: KeyValuePair
                              title: Key-Value Selector
                            - allOf:
                              - type: object
                                description: Base workflow selector. The concrete implementation is selected
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The type of selector.
                                    enum:
                                    - LABEL
                                    - TAG
                                    - ENDPOINT_TAG
                                    - CLOUD_PROVIDER
                                    - CLOUD_ACCOUNT
                                    - VPC
                                    - RESOURCE_NAME
                                    - RESOURCE_KIND
                                    - HOST
                                    - CLUSTER
                                    - CLUSTER_NAME
                                    - NAMESPACE
                                title: BaseWorkflowSelector
                              - type: object
                                properties:
                                  values:
                                    type: array
                                    description: List of values for this selector.
                                    items:
                                      type: string
                              title: Values Selector
                      title: WorkflowConfig
                    - type: object
                      properties:
                        config:
                          type: object
                          description: Base config for scheduled workflows. The concrete type is determined
                            by the 'type' field.
                          discriminator:
                            propertyName: type
                          oneOf:
                          - allOf:
                            - circular(BaseScheduledJobConfig)
                            title: DailySummaryReportJobConfig
                          - allOf:
                            - circular(BaseScheduledJobConfig)
                            title: WeeklySummaryReportJobConfig
                          - allOf:
                            - circular(BaseScheduledJobConfig)
                            - type: object
                              properties:
                                framework_ids:
                                  type: array
                                  items:
                                    type: string
                                  minItems: 1
                                report_frequency:
                                  type: string
                                  enum:
                                  - DAILY
                                  - WEEKLY
                                  - MONTHLY
                                  minLength: 1
                            required:
                            - framework_ids
                            - report_frequency
                            title: ConfigurationFrameworkReportJobConfig
                          properties:
                            type:
                              type: string
                              enum:
                              - DAILY_REPORT
                              - WEEKLY_REPORT
                              - CONFIGURATION_FRAMEWORK_REPORT
                          title: BaseScheduledJobConfig
                        cron:
                          type: string
                    title: ScheduledWorkflowConfig
                  - allOf:
                    - type: object
                      description: The configuration settings for a workflow, supporting both triggered
                        and scheduled workflows.
                      properties:
                        actions:
                          type: array
                          description: List of actions that are executed when this workflow is triggered.
                          items:
                            oneOf:
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  recipients:
                                    type: array
                                    description: List of email recipients. Required when `target_audience`
                                      is `CUSTOM`.
                                    items:
                                      type: string
                                  target_audience:
                                    type: string
                                    description: The target audience for the email. Use `ALL` to send
                                      to all organization members, or `CUSTOM` to specify recipients manually.
                                    enum:
                                    - ALL
                                    - CUSTOM
                              title: Email
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  assignee_id:
                                    type: string
                                    description: The Jira assignee ID.
                                  custom_fields:
                                    type: object
                                    additionalProperties: {}
                                  issue_type_id:
                                    type: string
                                    description: The Jira issue type ID.
                                  labels:
                                    type: array
                                    description: List of labels for the Jira issue.
                                    items:
                                      type: string
                                  project_id:
                                    type: string
                                    description: The Jira project ID.
                                  reporter_id:
                                    type: string
                                    description: The Jira reporter ID.
                              title: Jira
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  channel:
                                    type: string
                                    description: The Slack channel for the action.
                                  message:
                                    type: string
                                    description: The message content for the action.
                              title: Slack
                            - allOf:
                              - type: object
                                description: Base workflow action. The actual action type is determined
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The action type.
                                    enum:
                                    - SLACK
                                    - JIRA
                                    - EMAIL
                                    - WEBHOOK
                                title: BaseWorkflowAction
                              - type: object
                                properties:
                                  webhook_id:
                                    type: string
                                    description: The ID of the integration webhook to use.
                              title: Webhook
                        selectors:
                          type: array
                          description: List of selectors that filter resources for this workflow.
                          items:
                            oneOf:
                            - allOf:
                              - type: object
                                description: Base workflow selector. The concrete implementation is selected
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The type of selector.
                                    enum:
                                    - LABEL
                                    - TAG
                                    - ENDPOINT_TAG
                                    - CLOUD_PROVIDER
                                    - CLOUD_ACCOUNT
                                    - VPC
                                    - RESOURCE_NAME
                                    - RESOURCE_KIND
                                    - HOST
                                    - CLUSTER
                                    - CLUSTER_NAME
                                    - NAMESPACE
                                title: BaseWorkflowSelector
                              - type: object
                                properties:
                                  key_values:
                                    type: array
                                    description: List of key-value pairs for this selector.
                                    items:
                                      type: object
                                      properties:
                                        key:
                                          type: string
                                          description: The key of the key-value pair.
                                        value:
                                          type: string
                                          description: The value of the key-value pair.
                                      title: KeyValuePair
                              title: Key-Value Selector
                            - allOf:
                              - type: object
                                description: Base workflow selector. The concrete implementation is selected
                                  by the 'type' property.
                                discriminator:
                                  propertyName: type
                                properties:
                                  type:
                                    type: string
                                    description: The type of selector.
                                    enum:
                                    - LABEL
                                    - TAG
                                    - ENDPOINT_TAG
                                    - CLOUD_PROVIDER
                                    - CLOUD_ACCOUNT
                                    - VPC
                                    - RESOURCE_NAME
                                    - RESOURCE_KIND
                                    - HOST
                                    - CLUSTER
                                    - CLUSTER_NAME
                                    - NAMESPACE
                                title: BaseWorkflowSelector
                              - type: object
                                properties:
                                  values:
                                    type: array
                                    description: List of values for this selector.
                                    items:
                                      type: string
                              title: Values Selector
                      title: WorkflowConfig
                    - type: object
                      properties:
                        trigger:
                          description: The trigger configuration for this workflow. Required when workflow
                            type is `TRIGGERED`.
                          oneOf:
                          - allOf:
                            - type: object
                              description: Base trigger config. Subtype selected by the 'type' field.
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: The type of trigger.
                                  enum:
                                  - EVENT
                                  - THREAT_DETECTION
                                  - RUNTIME_EXPOSURE_CVE
                                  - HIGH_IMPACT_VULNERABILITY
                                  - THREAT_STORY
                                  - CONFIGURATION_FINDING
                              title: BaseWorkflowTrigger
                            - type: object
                              properties:
                                framework_ids:
                                  type: array
                                  items:
                                    type: string
                                severities:
                                  type: array
                                  description: List of severity levels that trigger the workflow.
                                  enum:
                                  - LOW
                                  - MEDIUM
                                  - HIGH
                                  - CRITICAL
                                  items:
                                    type: string
                                    enum:
                                    - CRITICAL
                                    - HIGH
                                    - MEDIUM
                                    - LOW
                            title: ConfigurationFindingWorkflowTrigger
                          - allOf:
                            - type: object
                              description: Base trigger config. Subtype selected by the 'type' field.
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: The type of trigger.
                                  enum:
                                  - EVENT
                                  - THREAT_DETECTION
                                  - RUNTIME_EXPOSURE_CVE
                                  - HIGH_IMPACT_VULNERABILITY
                                  - THREAT_STORY
                                  - CONFIGURATION_FINDING
                              title: BaseWorkflowTrigger
                            - type: object
                              properties:
                                categories:
                                  type: array
                                  description: List of categories that trigger the workflow.
                                  items:
                                    type: string
                                    enum:
                                    - NETWORK
                                    - PROCESS
                                    - FILE_SYSTEM
                                    - EXCESSIVE_PRIVILEGE
                                    - CLOUD_LOGS
                                    - CLOUD_ACTIVITY_LOGS
                                    - FILE_EVENTS
                                    - FILES
                                    - CLOUD_TRAIL
                                    - SYSCALL_EVENT
                                    - API_SECURITY
                                    - NETWORK_BASELINE
                            title: EventWorkflowTrigger
                          - allOf:
                            - type: object
                              description: Base trigger config. Subtype selected by the 'type' field.
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: The type of trigger.
                                  enum:
                                  - EVENT
                                  - THREAT_DETECTION
                                  - RUNTIME_EXPOSURE_CVE
                                  - HIGH_IMPACT_VULNERABILITY
                                  - THREAT_STORY
                                  - CONFIGURATION_FINDING
                              title: BaseWorkflowTrigger
                            - type: object
                              properties:
                                cron:
                                  type: string
                                epss_severities:
                                  type: array
                                  description: List of EPSS severity levels that trigger the workflow.
                                  enum:
                                  - LOW
                                  - MEDIUM
                                  - HIGH
                                  - CRITICAL
                                  items:
                                    type: string
                                    enum:
                                    - NONE
                                    - UNCLASSIFIED
                                    - LOW
                                    - MEDIUM
                                    - HIGH
                                    - CRITICAL
                                severities:
                                  type: array
                                  description: List of severity levels that trigger the workflow.
                                  enum:
                                  - LOW
                                  - MEDIUM
                                  - HIGH
                                  - CRITICAL
                                  items:
                                    type: string
                                    enum:
                                    - OTHER
                                    - UNCLASSIFIED
                                    - LOW
                                    - MEDIUM
                                    - HIGH
                                    - CRITICAL
                            title: RuntimeExposureCveWorkflowTrigger
                          - allOf:
                            - type: object
                              description: Base trigger config. Subtype selected by the 'type' field.
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: The type of trigger.
                                  enum:
                                  - EVENT
                                  - THREAT_DETECTION
                                  - RUNTIME_EXPOSURE_CVE
                                  - HIGH_IMPACT_VULNERABILITY
                                  - THREAT_STORY
                                  - CONFIGURATION_FINDING
                              title: BaseWorkflowTrigger
                            - type: object
                              properties:
                                severities:
                                  type: array
                                  description: List of severity levels that trigger the workflow.
                                  enum:
                                  - LOW
                                  - MEDIUM
                                  - HIGH
                                  - CRITICAL
                                  items:
                                    type: string
                                    enum:
                                    - LOW
                                    - MEDIUM
                                    - HIGH
                                    - CRITICAL
                            title: ThreatDetectionWorkflowTrigger
                          - allOf:
                            - type: object
                              description: Base trigger config. Subtype selected by the 'type' field.
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: The type of trigger.
                                  enum:
                                  - EVENT
                                  - THREAT_DETECTION
                                  - RUNTIME_EXPOSURE_CVE
                                  - HIGH_IMPACT_VULNERABILITY
                                  - THREAT_STORY
                                  - CONFIGURATION_FINDING
                              title: BaseWorkflowTrigger
                            title: ThreatStoryWorkflowTrigger
                          - allOf:
                            - type: object
                              description: Base trigger config. Subtype selected by the 'type' field.
                              discriminator:
                                propertyName: type
                              properties:
                                type:
                                  type: string
                                  description: The type of trigger.
                                  enum:
                                  - EVENT
                                  - THREAT_DETECTION
                                  - RUNTIME_EXPOSURE_CVE
                                  - HIGH_IMPACT_VULNERABILITY
                                  - THREAT_STORY
                                  - CONFIGURATION_FINDING
                              title: BaseWorkflowTrigger
                            title: VulnerabilityWorkflowTrigger
                    title: TriggeredWorkflowConfig
                name:
                  type: string
                  minLength: 1
                type:
                  type: string
                  enum:
                  - TRIGGERED
                  - SCHEDULED
              required:
              - config
              - name
              - type
              title: CreateWorkflowRequest
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  config:
                    description: The configuration settings for this workflow.
                    oneOf:
                    - allOf:
                      - type: object
                        description: The configuration settings for a workflow, supporting both triggered
                          and scheduled workflows.
                        properties:
                          actions:
                            type: array
                            description: List of actions that are executed when this workflow is triggered.
                            items:
                              oneOf:
                              - allOf:
                                - type: object
                                  description: Base workflow action. The actual action type is determined
                                    by the 'type' property.
                                  discriminator:
                                    propertyName: type
                                  properties:
                                    type:
                                      type: string
                                      description: The action type.
                                      enum:
                                      - SLACK
                                      - JIRA
                                      - EMAIL
                                      - WEBHOOK
                                  title: BaseWorkflowAction
                                - type: object
                                  properties:
                                    recipients:
                                      type: array
                                      description: List of email recipients. Required when `target_audience`
                                        is `CUSTOM`.
                                      items:
                                        type: string
                                    target_audience:
                                      type: string
                                      description: The target audience for the email. Use `ALL` to send
                                        to all organization members, or `CUSTOM` to specify recipients
                                        manually.
                                      enum:
                                      - ALL
                                      - CUSTOM
[...]
